<template>
    <tr>
        <td>
            <au-textbox 
                value.bind="data.purchaseOrderExternalNo" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.roNo" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.purchaseRequestNo" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.purchaseRequestRefNo" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
			<au-textbox
				value.one-way="product"
				read-only="true"
                options.bind="controlOptions">
			</au-textbox>
		</td>
        <td>
            <au-numeric 
                value.bind="data.deliveredQuantity" 
                error.bind="error.deliveredQuantity" 
                read-only.bind="options.readOnly"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-textbox 
                value.bind="data.purchaseOrderUom.unit" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>    
		<td>
			<au-numeric
				value.bind="data.pricePerDealUnit"
				read-only.bind="true"
                options.bind="controlOptions"
				format="0">
			</au-numeric>
		</td>
		<td>
			<au-numeric
				value.bind="totalPrice"
				read-only.bind="true"
                options.bind="controlOptions"
				format="0">
			</au-numeric>
		</td>
    </tr>
</template>