<template>
    <tr>
        <td>
            <au-autocomplete 
                value.bind="badOutputReason" 
                error.bind="error.badOutputReason" 
                loader.bind="badOutputReasonLoader" 
                placeholder="search Keterangan Bad Output" 
                key="code"
                text="reason" 
                read-only.bind="(readOnly || isEdit)"
                select.bind="selectBadOutput"
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
            <au-numeric
                value.bind="data.length"
                read-only.bind="(readOnly || isEdit)"
                options.bind="controlOptions"
                error.bind="error.length">
            </au-numeric>
        </td>
        <td>
            <au-dropdown
                value.bind="data.action"
                error.bind="error.action"
                read-only.bind="(readOnly || isEdit)"
                options.bind="controlOptions"
                items.bind="actionList">
            </au-dropdown>
        </td>
        <td>
            <au-autocomplete 
                value.bind="machine"
                loader.bind="machineLoader" 
                text="name"
                placeholder="search Mesin Penyebab Bad Output"
                read-only.bind="(readOnly || isEdit)"
                error.bind="error.machine"
                options.bind="controlOptions"
                select.bind="selectMachine"
                query.bind="filterMachine">
            </au-autocomplete>
        </td>
        <td>
            <au-textbox 
                value.bind="data.description"
                error.bind="error.description"
                read-only.bind="(readOnly || isEdit)"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td if.bind="!options.readOnly">
            <button class="btn btn-danger pull-right" click.delegate="onremove(data)">-</button>
        </td>
     </tr>
</template>