<template>
    <tr>
        <td>
            <au-autocomplete 
                value.bind="machine" 
                error.bind="error" 
                loader.bind="machineLoader" 
                placeholder="search mesin" 
                key="name"
                text="name" 
                read-only.bind="(readOnly || isEdit)"
                query.bind="filterMachine" 
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td if.bind="!options.readOnly">
            <button class="btn btn-danger pull-right" click.delegate="onremove(temp)">-</button>
        </td>
     </tr>
</template>