<template>
  <tr>
    <td style="white-space: nowrap;">
      <au-autocomplete
        value.bind="productionOrderNo"
        read-only.bind="readOnly"
        error.bind="error.productionOrderNo"
        loader.bind="productionOrders"
        text.bind="productionOrderNo"
      >
      </au-autocomplete>
    </td>

    <td style="white-space: nowrap;">
      <au-autocomplete
        value.bind="doNo"
        read-only.bind="readOnly"
        error.bind="error.doNo"
        loader.bind="dos"
        text.bind="doNumber"
      >
      </au-autocomplete>
    </td>

    <td style="white-space: nowrap;">
      <au-numeric
        value.bind="data.productionOrderOrderQuantity"
        read-only.bind="true"
        error.bind="error.productionOrderOrderQuantity"
      >
      </au-numeric>
    </td>

    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.buyer"
        read-only.bind="true"
        error.bind="error.buyer"
      >
      </au-textbox>
    </td>

    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.construction"
        read-only.bind="true"
        error.bind="error.construction"
      >
      </au-textbox>
    </td>

    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.typeORpackagingType"
        read-only.bind="true"
        error.bind="error.typeORpackagingType"
      >
      </au-textbox>
    </td>

    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.color"
        read-only.bind="true"
        error.bind="error.color"
      >
      </au-textbox>
    </td>

    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.motif"
        read-only.bind="true"
        error.bind="error.motif"
      >
      </au-textbox>
    </td>

    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.grade"
        read-only.bind="true"
        error.bind="error.grade"
      >
      </au-textbox>
    </td>

    <td style="white-space: nowrap;">
      <au-numeric
        value.bind="data.packagingQty"
        read-only.bind="true"
        error.bind="error.packagingQty"
      >
      </au-numeric>
    </td>

    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.packingORpackingInstruction"
        read-only.bind="true"
        error.bind="error.packingORpackingInstruction"
      >
      </au-textbox>
    </td>

    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.uomUnit"
        read-only.bind="true"
        error.bind="error.uomUnit"
      >
      </au-textbox>
    </td>

    <td style="white-space: nowrap;">
      <au-numeric
        value.bind="data.outQuantity"
        read-only.bind="readOnly"
        error.bind="error.outQuantity"
      >
      </au-numeric>
    </td>

    <td style="white-space: nowrap;">
      <au-numeric
        value.bind="data.balance"
        read-only.bind="true"
        error.bind="error.balance"
      >
      </au-numeric>
    </td>

    <td class="col-sm-1" if.bind="!readOnly">
      <button
        class="btn btn-danger pull-right"
        click.delegate="onremove(data, $event)"
      >
        -
      </button>
    </td>
  </tr>
</template>
