<template>
    <tr>
        
    </tr>
    <tr>
        <td>
            <au-autocomplete value.bind="prduct" error.bind="error.Product" loader.one-time="productLoader" 
                text="Name" key="Code" read-only.bind="readOnly" 
                options.bind="controlOptions"></au-autocomplete>
        </td>
        <td>
            <au-numeric value.bind="data.Composition" read-only.bind="readOnly" 
            options.bind="controlOptions"></au-numeric>
        </td>
    </tr>
</template>