<template>
    <tr>
        <td class="col-md-2">
            <au-textbox value.bind="subCategory" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-md-2">
            <au-textbox value.bind="data.Material.Name" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-md-3">
            <au-textbox value.bind="data.Description" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-md-2">
            <au-textbox value.bind="quantityText" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-md-3">
            <au-multiline placeholder="Isi Keterangan" value.bind="data.Information" error.bind="error.Information" options.bind="controlOptions"
                read-only.bind="readOnly"></au-multiline>
        </td>
    </tr>
</template>