<template>
    <tr>
        <td>
            <au-textbox
                value.bind="selectedPackingReceipt"
                error.bind="error.packingReceiptId"
                read-only.bind="readOnly"
                text="code"
                options.bind="controlOptions">
            </au-textbox>

            <au-collection 
                columns.bind="packingReceiptItemsColumns"
                items.bind="data.packingReceiptItems"
                errors.one-way="error.packingReceiptItems"
                read-only.bind="readOnly"
                options.bind="packingReceiptItemsOptions"
                item-template.bind="itemTemplate"
                remove.bind="removePakingReceiptItems">
            </au-collection>
        </td>
        <td if.bind="!options.readOnly">
            <button if.bind="!options.readOnly" class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
        </td>
    </tr>
</template>