<template>
    <tr>

        <td>

            <au-autocomplete value.bind="selectedProductionOrder" error.bind="error.productionOrderId" loader.one-time="productionOrderLoader"
                placeholder="Cari Production Order" read-only.bind="readOnly" key="orderNo" text="orderNo" options.bind="controlOptions">
            </au-autocomplete>

            <au-textbox error.bind="error.item" read-only.bind="true"></au-textbox>

            <au-collection
                if.bind="data.productionOrderId && isNewStructure && data.items"
                columns.bind="newItemColumns"
                items.bind="data.items"
                errors.one-way="error.items"
                options.bind="newShipmentItemsOptions"
                read-only.bind="readOnly"
                options.bind="itemOptions"
                item-template="modules/inventory/finishing-printing/fp-shipment-document/template/new-shipment-item"
                remove.bind="removeItems">
            </au-collection>

            <au-collection
                if.bind="data.productionOrderId && !isNewStructure"
                columns.bind="itemColumns"
                items.bind="data.items"
                errors.one-way="error.items"
                read-only.bind="readOnly"
                options.bind="itemOptions"
                item-template="modules/inventory/finishing-printing/fp-shipment-document/template/shipment-item"
                remove.bind="removeItems">
            </au-collection>

        </td>

        <td if.bind="!options.readOnly">
            <button if.bind="!options.readOnly" class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
        </td>

    </tr>
</template>