<template>
  <tr>
    <!-- <require from="../../../../lib/number-format-value-converter"></require> -->
    <td>
      <au-textbox value.bind="data.sopNoEBB" read-only="true"> </au-textbox>
    </td>
    <td>
      <au-textbox value.bind="data.noKonstruksi" read-only="true"> </au-textbox>
    </td>
    <td>
      <au-numeric
        value.bind="data.jmlhOrder"
        error.bind="error.jmlhOrder"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>
    <td>
      <au-dropdown
        value.bind="data.jnsLusiSatu"
        error.bind="error.jnsLusiSatu"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-dropdown
        value.bind="data.asalLusiSatu"
        error.bind="error.asalLusiSatu"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyLusiSatu"
        error.bind="error.qtyLusiSatu"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>

    <td>
      <au-dropdown
        value.bind="data.jnsLusiDua"
        error.bind="error.jnsLusiDua"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-dropdown
        value.bind="data.asalLusiDua"
        error.bind="error.asalLusiDua"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyLusiDua"
        error.bind="error.qtyLusiDua"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>

    <td>
      <au-dropdown
        value.bind="data.jnsPakanSatu"
        error.bind="error.jnsPakanSatu"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-dropdown
        value.bind="data.asalPakanSatu"
        error.bind="error.asalPakanSatu"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyPakanSatu"
        error.bind="error.qtyPakanSatu"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>

    <td>
      <au-dropdown
        value.bind="data.jnsPakanDua"
        error.bind="error.jnsPakanDua"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-dropdown
        value.bind="data.asalPakanDua"
        error.bind="error.asalPakanDua"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyPakanDua"
        error.bind="error.qtyPakanDua"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>

    <td>
      <au-dropdown
        value.bind="data.jnsPakanTiga"
        error.bind="error.jnsPakanTiga"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-dropdown
        value.bind="data.asalPakanTiga"
        error.bind="error.asalPakanTiga"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyPakanTiga"
        error.bind="error.qtyPakanTiga"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>

    <td>
      <au-dropdown
        value.bind="data.jnsPakanEmpat"
        error.bind="error.jnsPakanEmpat"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-dropdown
        value.bind="data.asalPakanEmpat"
        error.bind="error.asalPakanEmpat"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyPakanEmpat"
        error.bind="error.qtyPakanEmpat"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>
  </tr>
</template>
