<!-- <style>
th,td {
  border: 1px solid black;
}
</style> -->
<template>
  <tr>
    <!-- <require from="../../../../lib/number-format-value-converter"></require> -->
    <td>
      <au-textbox value.bind="data.sopNoEBB" read-only.bind="true"> </au-textbox>
    </td>
    <td>
      <au-textbox value.bind="data.noKonstruksi" read-only.bind="true"> </au-textbox>
    </td>
    <td>
      <au-numeric
        value.bind="data.jmlOrder"
        error.bind="error.jmlOrder"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>
    <td>
      <au-dropdown
        value.bind="data.jnsLusiSatu"
        error.bind="error.jnsLusiSatu"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-dropdown
        value.bind="data.asalLusiSatu"
        error.bind="error.asalLusiSatu"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyLusiSatu"
        error.bind="error.qtyLusiSatu"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>

    <td>
      <au-dropdown
        value.bind="data.jnsLusiDua"
        error.bind="error.jnsLusiDua"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-dropdown
        value.bind="data.asalLusiDua"
        error.bind="error.asalLusiDua"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyLusiDua"
        error.bind="error.qtyLusiDua"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>

    <td>
      <au-dropdown
        value.bind="data.jnsPknSatu"
        error.bind="error.jnsPknSatu"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-dropdown
        value.bind="data.asalPknSatu"
        error.bind="error.asalPknSatu"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyPknSatu"
        error.bind="error.qtyPknSatu"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>

    <td>
      <au-dropdown
        value.bind="data.jnsPknDua"
        error.bind="error.jnsPknDua"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-dropdown
        value.bind="data.asalPknDua"
        error.bind="error.asalPknDua"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyPknDua"
        error.bind="error.qtyPknDua"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>

    <td>
      <au-dropdown
        value.bind="data.jnsPknTiga"
        error.bind="error.jnsPknTiga"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-dropdown
        value.bind="data.asalPknTiga"
        error.bind="error.asalPknTiga"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyPknTiga"
        error.bind="error.qtyPknTiga"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>

    <td>
      <au-dropdown
        value.bind="data.jnsPknEmpat"
        error.bind="error.jnsPknEmpat"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-dropdown
        value.bind="data.asalPknEmpat"
        error.bind="error.asalPknEmpat"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      ></au-dropdown>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyPknEmpat"
        error.bind="error.qtyPknEmpat"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>
  </tr>
</template>
