<template>
    <require from="../../utils/date-format"></require>
    <h3>Surat Jalan</h3>
    <br>
    <div class="row">
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control" name="keyword" value.bind="data.code" placeholder="cari" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" click.delegate="searching()"><i class="fa fa-search"></i></button>
                        <button class="btn btn-default" click.delegate="activate()"> Tampilkan Semua </button>    
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-primary" click.delegate="create()">Buat Surat Jalan</button>
                    <button class="btn btn-primary" click.delegate="posting()">Posting</button>
                </div>
            </div>
        </div> 
        </br>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Nomor Surat Jalan</th>
                <th>Tanggal Surat Jalan</th>
                <th>Tanggal Datang Barang</th>
                <th>Kode Supplier</th>
                <th>Nama Supplier</th>
                <th>Status Post</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="item of data">
                <td><input checked.bind="item.isPosting" disabled.bind="item.isPosted" type="checkbox" change.delegate="pushDataToBePosting(item)" /></td>
                <td>${item.SJNo}</td>
                <td>${item.SJDate | dateFormat:'D MMMM YYYY'}</td>
                <td>${item.productArriveDate | dateFormat:'D MMMM YYYY'}</td>
                <td>${item.supplier.code}</td>                 
                <td>${item.supplier.name}</td>
                <td>${item.isPosted ? 'Posted' : 'UnPosted'} </td>
                <td><button class="btn btn-default" click.delegate="view(item)">Rincian</button></td>

            </tr>
        </tbody>
    </table>
    <div class="alert alert-info text-center" role="alert" if.bind="data.length == 0">
        Data surta jalan tidak ditemukan.
    </div>
    <hr/> 
</template>