<template>
    <require from="customs/elements/horsey"></require>
    <h4>List Po</h4>
             <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nomor PO</th>
                        <th>Nomor PR</th>
                        <th>Nomor RO</th>
                        <th>Artikel</th>
                        <th>Konfeksi</th>
                        <th>Mata Uang</th>
                        <th>Tanggal Jatuh Tempo</th>
                        <th>Barang</th>
                        <th><button class="btn pull-right btn-success" click.delegate="addPO()">Tambah PO</button></th>
                    </tr>
                </thead>
    <tr repeat.for="item of data.items">
        <td style='width: 150px;'   > <horsey src.bind="uri" value.bind="item.PONo" selection.bind="item" options.bind="{label:'PONo', value:'_id'}"></horsey> </td>
        <td>${item.PRNo}</td>
        <td>${item.RONo}</td>
        <td>${item.article}</td>
        <td>${item.RONo.substr(2,1)}</td>
        <td>${item.currency}</td>
        <td>${item.paymentDue}</td>
        <td> <button class="${item.PRNo? '' : 'hide'}  btn btn-primary" click.delegate="showDetail(item)">Rincian Barang</button> </td>
        <td> <button class="${item.PRNo? '' : 'hide'}  btn pull-right btn-danger" click.delegate="remove()">Hapus PO</button> </td>
    </tbody>
    </table>
    <div class="${showProductDetail ? '' : 'hide'}  form-group">
    <h4>Rincian Barang PO ${dataPO.PONo}</h4>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Kode Barang</th>
                        <th>Nama Barang</th>
                        <th>Keterangan</th>
                        <th>Satuan</th>
                        <th>Jumlah Barang di PO</th>
                        <th>Jumlah Barang di SJ</th>
                        <th>Harga</th>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="item of dataPO.items">
                        <td>${item.product.code}</td>
                        <td>${item.product.name}</td>
                        <td>${item.product.description}</td>
                        <td>${item.product.UoM ? item.product.UoM.unit : ''}</td>                
                        <td>${item.defaultQuantity}</td>                 
                        <td><input style='width: 100px;' type="number" class="form-control" name="realizationQuantity" value.bind="item.realizationQuantity"></input></td>                 
                        <td>${item.price}</td>
                        <td> <button class="btn pull-right btn-danger" click.delegate="removeProduct(dataPO,item)">Hapus PO</button> </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success" click.delegate="hideDetail()">Tutup</button>
        </div>
</template>