<template>
    <tr>
        <td align='center' if.bind="options.isCreate || options.isEdit || options.readOnly" class="col-sm-1">
            <au-checkbox value.bind="data.IsSave" if.bind="options.isCreate || options.isEdit || options.readOnly"
                options.bind="controlOptions" change.delegate="changeCheckBox()">
            </au-checkbox>
        </td>
        <td>
            <au-textbox value.bind="data.SubconDLOutNo" read-only.bind="true">
            </au-textbox>
        </td>
        <td if.bind="selectedSubconCategory != 'SUBCON CUTTING SEWING'">
            <au-textbox value.bind="data.Quantity" read-only.bind="true">
            </au-textbox>
        </td>
        <td if.bind="selectedSubconCategory != 'SUBCON CUTTING SEWING'">
            <au-textbox value.bind="data.QtyPacking" read-only.bind="true">
            </au-textbox>
        </td>
        <td if.bind="selectedSubconCategory != 'SUBCON CUTTING SEWING'">
            <au-textbox value.bind="data.UomPacking" read-only.bind="true">
            </au-textbox>
        </td>
        <td class="col-sm-1" if.bind="selectedSubconCategory == 'SUBCON CUTTING SEWING'">
            <div>
                <button class="btn btn-info pull-right" if.bind="data.Details" click.delegate="toggle()">i</button>
            </div>
        </td>
    </tr>
    <tr show.bind="isShowing" if.bind="selectedSubconCategory == 'SUBCON CUTTING SEWING'">

        <td colspan="3">
            <au-collection items.bind="data.Details" errors.bind="error.Details" columns.bind=" itemsColumns"
                read-only.bind="readOnly || isEdit" options.bind="itemOptions"
                item-template="modules/garment-subcon/customs-out/template/detail">
            </au-collection>
        </td>
    </tr>

</template>