<template>
	<tr>

		<td>
			<au-textbox 
                value.bind="data.Colour" 
				error.bind="error.Colour"
                read-only.bind="readOnly || (isEdit && data.Id)"
                options.bind="controlOptions">
			</au-textbox>
		</td>
		<td>
			<au-numeric 
                value.bind="data.Quantity" 
                read-only.bind="readOnly || (isEdit && data.Id)"
                options.bind="controlOptions">
			</au-numeric>
		</td>
		<td>
			<au-textbox 
                value.bind="data.Lot" 
                read-only.bind="readOnly || (isEdit && data.Id)"
                options.bind="controlOptions">
			</au-textbox>
		</td>
		<td>
			<au-textbox 
                value.bind="data.Batch" 
				error.bind="error.Batch"
                read-only.bind="true"
                options.bind="controlOptions">
			</au-textbox>
		</td>
		<td>
			<au-textbox 
                value.bind="data.NoPackage"
                read-only.bind="true"
                options.bind="controlOptions">
			</au-textbox>
		</td>
		<td>
		<au-autocomplete 
			value.bind="dataUom" 
			error.bind="error.HandlingUnit"
			loader.bind="uomLoader"
			placeholder="cari satuan" 
			text="Unit"
			key="Id"
			read-only.bind="readOnly || (isEdit && data.Id) || (data.ProductName && data.ProductName.toUpperCase() === 'FABRIC')">
		</au-autocomplete>
		</td>	
		<td>
			<au-dropdown 
                value.bind="data.Rack" 
				error.bind="error.Rack"
				items.bind = "rackOptions"
                read-only.bind="readOnly || (isEdit && data.Id)"
                options.bind="controlOptions">
			</au-dropdown>
		</td>
		<td>
			<au-dropdown 
                value.bind="data.Level" 
				error.bind="error.Level"
				items.bind = "levelOptions"
                read-only.bind="readOnly || (isEdit && data.Id)"
                options.bind="controlOptions">
			</au-dropdown>
		</td>
		 <td>
			<au-dropdown 
                value.bind="data.Box" 
				error.bind="error.Box"
				items.bind = "boxOptions"
                read-only.bind="readOnly || (isEdit && data.Id)"
                options.bind="controlOptions">
			</au-dropdown>
		</td>
		<td>
			<au-dropdown 
                value.bind="data.Area" 
				items.bind = "areaOptions"
                read-only.bind="readOnly || (isEdit && data.Id)"
                options.bind="controlOptions">
			</au-dropdown>
		</td>
		<td if.bind="!readOnly" class="col-sm-1">
			<button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
		</td>
	</tr>
</template>