<template>
    <tr>
        <td>
            <au-textbox value.bind="data.unitName" read-only="true"></au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.productName" read-only="true"></au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.quantity" read-only="true"></au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.uom" read-only="true"></au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.price" read-only="true"></au-textbox>
        </td>
    </tr>
</template>