<template>
	<tr>
		<td>
			<au-textbox
				value.one-way="data.deliveryOrderNo"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.purchaseOrderExternalNo"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.purchaseRequestRefNo"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.roNo"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.paymentMethod"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.paymentType"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-datepicker
				value.bind="data.dueDays"
				read-only.bind="true">
			</au-datepicker>
		</td>
        <td>
			<au-textbox
				value.one-way="product"
				read-only="true"
                options.bind="controlOptions">
			</au-textbox>
		</td>
		<td>
			<au-numeric 
				value.bind="data.deliveredQuantity" 
				read-only.bind="true" 
				format="0">
			</au-numeric>
		</td>
        <td>
			<au-textbox
				value.one-way="data.purchaseOrderUom.unit"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-numeric 
				value.bind="data.pricePerDealUnit" 
				read-only.bind="true" 
				format="0">
			</au-numeric>
		</td>
		<td>
			<au-numeric 
				value.bind="total" 
				read-only.bind="true" 
				format="0">
			</au-numeric>
		</td>
        <td>
			<au-textbox
				value.one-way="status"
				read-only="true">
			</au-textbox>
		</td>
	</tr>
</template>