<template>
    <tr>
        <td class="bg-primary">
            <au-autocomplete value.bind="selectedUENNo" error.bind="error.UENNo" loader.bind="bukLoader" text="UENNo"
                read-only.bind="readOnly" options.bind="controlOptions">
            </au-autocomplete>
        </td>

        <!-- <td class="bg-primary">
            <au-numeric value.bind="data.quantity" error.bind="error.quantity" read-only.bind="true" format="0.00">
            </au-numeric>
        </td>

        <td class="bg-primary">
            <au-autocomplete value.bind="data.uom" error.bind="error.uom" read-only.bind="true" placeholder="Satuan"
                text.bind="uomView">
            </au-autocomplete>
        </td> -->

        <!-- <td if.bind="isCreate || isEdit ">
            <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
        </td> -->
        <td if.bind="isCreate || isEdit" class="col-sm-1">
            <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">
                -
            </button>
        </td>
        <td class="col-sm-1">
            <button class="btn btn-info pull-right" if.bind="data.details" click.delegate="toggle()">
                i
            </button>
        </td>


    </tr>

    <tr show.bind="isShowing">
        <td>
            <au-collection items.bind="data.details" errors.bind="error.details" columns.bind="itemsColumns"
                remove.bind="removeItems" options.bind="context.context.options" read-only.bind="options.readOnly"
                item-template="modules/garment-receipt-subcon/customs/template/detail">
            </au-collection>
        </td>
    </tr>
</template>