<template>
    <require from="../../../utils/date-format"></require>
  
    <div class="display-wrapper">
        <h3>PO Tekstil : Umum  ATK & Kebersihan</h3>
        <br>
        <div class="row">
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control" name="keyword" value.bind="keyword" placeholder="cari" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" click.delegate="searching()"><i class="fa fa-search"></i></button>
                        <button class="btn btn-default" click.delegate="showAll()"> Tampilkan Semua </button>    
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-primary" click.delegate="gotoListPODL()">List PODL</button>
                    <button class="btn btn-primary" click.delegate="create()">Buat</button>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-3" >
                <div class="gray-box">
                    <span class="control-label padding-right-10">Posting</span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" click.delegate="tooglePostingTrue()">Ya</button>
                        <button type="button" class="btn btn-default" click.delegate="tooglePostingFalse()">Tidak</button>
                    </div>
                    <button type="button" class="btn btn-success ${isPosting ? '' : 'hide'}" click.delegate="posting()">Post</button>
                </div>
            </div>
            <div class="col-sm-3" >
                <div class="gray-box">
                    <span class="control-label padding-right-10">Cetak</span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" click.delegate="tooglePrintTrue()">Ya</button>
                        <button type="button" class="btn btn-default" click.delegate="tooglePrintFalse()">Tidak</button>
                    </div>
                    <button type="button" class="btn btn-success ${isPrint ? '' : 'hide'}" click.delegate="print()">Cetak</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="${isPosting ? '' : 'hide'}"></th>
                        <th class="${isPrint ? '' : 'hide'}"></th>
                        <th>Nomor PO</th>
                        <th>Nomor Referensi PO</th>
                        <th>Supplier</th>
                        <th>Tanggal Kirim</th>
                        <th>Nomor PODL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr repeat.for="item of data" click.delegate="view(item)">-->
                    <tr repeat.for="item of data">
                        <td class="${isPosting ? '' : 'hide'}">
                            <input checked.bind="item.isPosting" disabled.bind="item.PODLNo != ''" type="checkbox" change.delegate="pushDataToBePosting(item)" />
                        </td>
                        <td class="${isPrint ? '' : 'hide'}">
                            <input checked.bind="item.isPrint" disabled.bind="item.PODLNo == ''" type="checkbox" change.delegate="pushDataToBePrinting(item)" />
                        </td>
                        <td>${item.PONo}</td>
                        <td>${item.RefPONo}</td>
                        <td>${item.supplier.name}</td>
                        <td>${item.deliveryDate | dateFormat:'D MMMM YYYY'}</td>
                        <td>${item.PODLNo}</td>
                        <td><button class="btn btn-default" click.delegate="view(item)">Rincian</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="alert alert-info text-center" role="alert" if.bind="data.length == 0">
            Data po tekstil umum atk tidak ada.
        </div>
    </div><!-- /.display-wrapper -->
    <div class="print-wrapper a5" repeat.for="data of dataToBePrinting">
        <div class="row">
            <div class="col-xs-8">
                <address>
                    <label class="header">PT. DAN LIRIS</label><br />
                    Head Office : <br />
                    Jalan Merapi no.23<br />
                    Desa Banaran, Kec. Grogol, Kab.Sukoharjo 57193<br />
                    Telp. (0271) 714400, 740888<br />
                    Fax.  (0271) 717177<br />
                    Website http://www.danliris.com/<br />
                    PO. BOX 166 Solo 57100
                </address>
            </div>
            <div class="col-xs-4">
                <span class="iso">${data.iso}</span><br />
                ${data.PONo}
            </div>  
        </div>
        <div class="row">
            <div class="col-xs-7">
                Kepada Yth : ${data.supplier.name}
            </div>
            <div class="col-xs-5">
                <div class="pull-right">
                    <div class="text-right">Solo, ${currentDate | dateFormat:'D MMMM YYYY'}</div>
                    <div class="gray-box">
                        Mohon di-fax kembali setelah ditandatangani dan distempel perusahaan. Terima kasih.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-justify">
                    Dengan hormat,<br />
                    Yang bertanda tangan di bawah ini, PT. DAN LIRIS, SOLO (selanjutnya disebut sebagai Pembeli)
                    dan ${data.supplier.name} (selanjutnya disebut sebagai Penjual) saling menyetujui
                    untuk mengadakan kontrak jual beli dengan ketentuan sebagai berikut :
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">NAMA DAN JENIS BARANG</th>
                        <th class="text-center">JUMLAH</th>
                        <th class="text-center">HARGA SATUAN</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr repeat.for="item of data" click.delegate="view(item)">-->
                    <tr repeat.for="item of data.items">
                        <td >
                            <p if.bind="$index === 0" align="center"><b>${data.PRNo}</b> <br></p>
                                ${item.product.name}
                        </td>
                        <td class="text-center">
                            <p if.bind="$index === 0" ><br></p>
                            ${item.qty}
                            </td>
                        <td class="text-right">
                            <p if.bind="$index === 0" ><br></p>
                            ${item.price}
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-xs-7">
                    Ongkos kirim : Ditanggung oleh ${data.deliveryFeeByBuyer ? 'Pembeli' : 'Penjual'}<br />
                    Pembayaran   : ${data.termOfPayment}
                </div>
                <div class="col-xs-5">
                    Delivery     : ${data.deliveryDate | dateFormat:'D MMMM YYYY'} <br />
                    Lain - lain  : ${data.description}
                </div>
            </div>
            <div class="row sign-footer">
                <div class="col-xs-5">
                    <div style="text-align:center;">
                        Pembeli,<br /><br /><br /><br /><br /><br />
                        Nama<br />
                        Bag. Pembelian
                    </div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-5">
                    <div style="text-align:center;">
                        Penjual,<br /><br /><br /><br /><br /><br />
                        _______________________
                    </div>
                </div>
            </div>
        </div>
        
        <div style="page-break-after:always;"></div>
    </div><!-- /.print-wrapper -->
</template>