<template>
    <tr>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.BeamOrigin" error.bind="error.BeamOrigin" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.BeamNumber" error.bind="error.BeamNumber" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.CombNumber" error.bind="error.CombNumber" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.MachineNumber" error.bind="error.MachineNumber" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.LatestBeamProductDate" error.bind="error.LatestBeamProductDate" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.LatestBeamProductTime" error.bind="error.LatestBeamProductTime" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.LoomProcess" error.bind="error.LoomProcess" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.BeamProductStatus" error.bind="error.BeamProductStatus" read-only.bind="true">
        </au-textbox>
      </td>
    </tr>
  </template>
  