<template>
    <tr>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.BeamNumber" error.bind="error.BeamNumber" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.MachineNumber" error.bind="error.MachineNumber" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.LatestDateBeamProduct" error.bind="error.LatestDateBeamProduct" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.LatestTimeBeamProduct" error.bind="error.LatestTimeBeamProduct" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.LoomProcess" error.bind="error.LoomProcess" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.BeamProductStatus" error.bind="error.BeamProductStatus" read-only.bind="true">
        </au-textbox>
      </td>
    </tr>
  </template>
  