<template>
    <tr>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.BeamNumber" error.bind="error.BeamNumber" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.OperatorName" error.bind="error.MachineNumber" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.LoomOperatorGroup" error.bind="error.MachineNumber" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.MachineDate" error.bind="error.MachineDate" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.MachineTime" error.bind="error.MachineTime" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.ShiftName" error.bind="error.ShiftName" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.WarpBrokenThreads" error.bind="error.WarpBrokenThreads" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.WeftBrokenThreads" error.bind="error.WeftBrokenThreads" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.LenoBrokenThreads" error.bind="error.LenoBrokenThreads" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.ReprocessTo" error.bind="error.ReprocessTo" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.Information" error.bind="error.Information" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.MachineStatus" error.bind="error.MachineStatus" read-only.bind="true">
        </au-textbox>
      </td>
    </tr>
  </template>
  