<template>
  <tr>
    <td style="text-align: center; vertical-align: middle;">
      <strong>${data.Colour}</strong>
    </td>
    <td style="text-align: center; vertical-align: middle;">
      <strong>${data.Size}</strong>
    </td>

    <td style="text-align: center; vertical-align: middle;">
      <strong>${data.StockQuantity}</strong>
    </td>

    <td class="bg-light" style="text-align: center; vertical-align: middle;">
      <button
        type="button"
        class="btn btn-info btn-sm"
        click.delegate="toggle()">
        i
      </button>
    </td>
  </tr>

  <tr if.bind="error.DetailsCount">
    <td colspan="3" style="border: none;">
      <div class="form-group has-error">
        <span class="text-danger help-block">
          ${error.DetailsCount}
        </span>
      </div>
    </td>
  </tr>

  <tr show.bind="isShowing">
    <td colspan="4" style="border: none; padding: 8px 20px;">
      <au-collection
        items.bind="data.Details"
        errors.bind="error.Details"
        columns.bind="detailsColumns"
        options.bind="detailOptions"
        add.bind="readOnly ? null : addDetails"
        remove.bind="removeDetails"
        read-only.bind="readOnly"
        item-template="modules/garment-production/garment-finished-goods-stock/template/items/detail">
      </au-collection>
    </td>
  </tr>
</template>
