<template>
    <tr>
        <td align='center'>
            <au-checkbox 
                value.bind="data.IsSave" 
                >
            </au-checkbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.RO_Number"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.Article"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.UnitName"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td align='center'>
            <au-textbox 
                value.bind="data.Quantity" 
                error.bind="error.Quantity"
                read-only.bind="readOnly">
            </au-textbox>
        </td>
     </tr>
</template>

