<template>
    <tr>
        <require from="../../../../lib/number-format-value-converter"></require>
        <td>
            <au-autocomplete placeholder="pilih akun"
                             value.bind="data.Machine"
                             error.bind="error.Machine"
                             loader.one-time="machineLoader"
                             text="Code"
                             read-only.bind="readOnly"
                             options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
            <au-numeric value.bind="data.Counter"
                        error.bind="error.Counter"
                        read-only.bind="readOnly"
                        format="0,0.0000"
                        options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-textbox value.bind="data.UOM"
                        error.bind="error.UOM"
                        read-only.bind="true"
                        options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>    
            <au-numeric value.bind="data.Bale"
                        error.bind="error.Bale"
                        read-only.bind="true"
                        format="0,0.0000"
                        options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>    
            <au-numeric value.bind="data.DeliveryTotal"
                        error.bind="error.DeliveryTotal"
                        read-only.bind="true"
                        show.bind="Flyer"
                        format="0,0.0000"
                        options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>    
            <au-numeric value.bind="data.EmptySpindle"
                        error.bind="error.EmptySpindle"
                        read-only.bind="true"
                        show.bind="Flyer"
                        format="0,0.0000"
                        options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>    
            <au-numeric value.bind="data.BadCone"
                        error.bind="error.BadCone"
                        read-only.bind="true"
                        show.bind="Winder"
                        format="0,0.0000"
                        options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-textbox value.bind="data.EffPrecentage"
                        error.bind="error.EffPrecentage"
                        read-only.bind="true"
                        options.bind="controlOptions">
            </au-textbox>
        </td>
        <td class="col-sm-1"
            if.bind="!readOnly">
            <button class="btn btn-danger pull-right"
                    click.delegate="onremove(data, $event)">-
            </button>
        </td>
        <td if.bind="!options.readOnly"><button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button></td>
    </tr>
</template>