<template>
    <h3 if.bind="!data.isSplit">Ubah PO Garment : Job Order Aksesoris</h3>
    <h3 if.bind="data.isSplit">Pecah PO Garment : Job Order Aksesoris</h3>
    <require from="./data-form"></require>
    <block>
        <data-form data.bind="data" error.bind="error"></data-form>
        <hr/>
        <div class="pull-right">
            <button class="btn btn-default" click.delegate="view()">Kembali</button>
            <button if.bind="!data.isSplit" class="btn btn-success" click.delegate="save()">Simpan</button>
            <button if.bind="data.isSplit" class="btn btn-success" click.delegate="split()">Pecah PO</button>
        </div>
    </block>
</template>