<template>
  <tr>
      <td>
        <au-textbox 
          value.bind="data.indicator" 
          error.bind="error.indicator"
          read-only.bind="readOnly"
        </au-textbox>
      </td>
      <td>
        <au-dropdown
          value.bind="data.dataType"
          item.bind="dropDownMenu"
          read-only.bind="readOnly"
          key="data.dataType"
          text="data.dataType"
          error.bind="error.dataType"
        ></au-dropdown>
      </td>
      <td>
        <au-textbox 
          value.bind="data.defaultValue"
          error.bind="error.defaultValue"
          read-only.bind="readOnly"
        ></au-textbox>
      </td>
      <td>
        <au-textbox 
          value.bind="data.uom"
          error.bind="error.uom"
          read-only.bind="readOnly"
        ></au-textbox>
      </td>
  </tr>
</template>
