<template>
  <tr>
    <!-- <require from="../../../../lib/number-format-value-converter"></require> -->
    <td>
      <au-textbox placeholder="Input No SPP" value.bind="data.noSPP" error.bind="error.NoSPP"
      read-only.bind="readOnly">
      </au-textbox>
      <!-- <au-autocomplete placeholder="Input No SPP" value.bind="selectedCurrency" error.bind="error.NoSPP"
        loader.one-time="currencyLoader" text="Code" read-only.bind="readOnly">
      </au-autocomplete> -->
      <!-- <au-numeric value.bind="data.NoSPP" error.bind="error.NoSPP" read-only.bind="readOnly"
        format="0,0.0000"></au-numeric> -->
    </td>
    <td>
      <au-textbox placeholder="Input Nama Barang" value.bind="data.materialName" error.bind="error.MaterialName"
      read-only.bind="readOnly">
      </au-textbox>
    </td>
    <td>
      <au-textbox placeholder="Input Lot" value.bind="data.inputLot" error.bind="error.InputLot"
      read-only.bind="readOnly">
      </au-textbox>
    </td>
    <td>
      <au-numeric value.bind="data.weightBruto" error.bind="error.WeightBruto" read-only.bind="readOnly" format="0,0.00">
      </au-numeric>
    </td>
    <td>
      <au-numeric value.bind="data.weightDOS" error.bind="error.WeightDOS" read-only.bind="readOnly" format="0,0.00">
      </au-numeric>
    </td>
    <td>
      <au-numeric value.bind="data.weightCone" error.bind="error.WeightCone" read-only.bind="readOnly" format="0,0.00">
      </au-numeric>
    </td>
    <td>
      <au-numeric value.bind="data.weightBale" error.bind="error.WeightBale" read-only.bind="readOnly" format="0,0.00">
      </au-numeric>
    </td>
    <td>
      <au-numeric value.bind="getTotal" read-only.bind="true" format="0.00000">
      </au-numeric>
    </td>
    <td class="col-sm-1" if.bind="!readOnly">
      <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-
      </button>
    </td>
  </tr>
</template>
