<!-- <style>
th,td {
  border: 1px solid black;
}
</style> -->
<template>
  <tr>
    <!-- <require from="../../../../lib/number-format-value-converter"></require> -->
    <td>
      <au-textbox value.bind="data.kodeLusi" read-only.bind="true">
      </au-textbox>
    </td>
    <td>
      <au-autocomplete
        value.bind="data.jnsLusi"
        error.bind="error.jnsLusi"
        read-only.bind="readOnly"
      >
      </au-autocomplete>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyLusi"
        error.bind="error.qtyLusi"
        read-only.bind="readOnly"
      >
      </au-numeric>
    </td>
    <td>
      <au-textbox value.bind="data.ktrLusi" read-only.bind="true"> </au-textbox>
    </td>
    <td class="col-sm-1" if.bind="!readOnly">
      <button
        class="btn btn-danger pull-right"
        click.delegate="onremove(dataLusi, $event)"
      >
        -
      </button>
    </td>
  </tr>
</template>
