<template>
  <tr>
    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.beamNumber"
        error.bind="error.beamNumber"
        read-only.bind="readOnly"
        placeholder="Nomor Beam"
      >
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.timeStop"
        error.bind="error.timeStop"
        read-only.bind="readOnly"
        placeholder="Time Stop"
      >
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.timeStart"
        error.bind="error.timeStart"
        read-only.bind="readOnly"
        placeholder="Time Start"
      >
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.description"
        error.bind="error.description"
        read-only.bind="readOnly"
        placeholder="Keterangan"
      >
      </au-textbox>
    </td>
    <td class="col-sm-1" if.bind="!readOnly">
      <button
        class="btn btn-danger pull-right"
        click.delegate="onremove(data, $event)"
      >
        -
      </button>
    </td>
  </tr>
</template>
