<template>
  <tr>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.BeamNumber" error.bind="error.BeamNumber" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.ConstructionNumber" error.bind="error.ConstructionNumber" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.Shift" error.bind="error.Shift" read-only.bind="true">
      </au-textbox>
    </td>
    <!-- <td style="white-space: nowrap;">
      <au-textbox value.bind="data.PIS" error.bind="error.PIS" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.Visco" error.bind="error.Visco" read-only.bind="true">
      </au-textbox>
    </td> -->
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.History.MachineTimeStamp" error.bind="error.MachineTimeStamp" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.History.MachineStatus" error.bind="error.MachineStatus" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.Broke" error.bind="error.Broke" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.Counter" error.bind="error.Counter" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.History.Information" error.bind="error.Information" read-only.bind="true">
      </au-textbox>
    </td>
    <!-- <td class="col-sm-1" if.bind="!readOnly">
        <button
          class="btn btn-danger pull-right"
          click.delegate="onremove(data, $event)"
        >
          -
        </button>
      </td> -->
  </tr>
</template>
