<template>
    <tr>
        <td colspan="11" class="text-right" style="padding-right:10%">
            Total Cost Material
        </td>
        <td colspan="11" class="text-left">
            <require from="../../../../../lib/number-format-value-converter"></require>
            ${totalMaterial | numberFormat:"0,000.00"}
        </td>
    </tr>
      <tr>
        <td colspan="11" class="text-right" style="padding-right:10%">
            Total Cost Process
        </td>
        <td colspan="11" class="text-left">
            <require from="../../../../../lib/number-format-value-converter"></require>
            ${totalProcess | numberFormat:"0,000.00"}
        </td>
    </tr>
    <tr>
        <td colspan="11" class="text-right" style="padding-right:10%">
            Total Ongkir
        </td>
        <td colspan="11" class="text-left">
            <require from="../../../../../lib/number-format-value-converter"></require>
            ${totalOngkir | numberFormat:"0,000.00"}
        </td>
    </tr>   
  
</template>