<template>
    <tr>
        <td>
            <au-textbox 
                value.bind="data.UnitName" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.TRNo" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.ProductName" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox  
                value.bind="data.RequestedQuantity" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.RemainingQuantity" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-textbox  
                value.bind="data.ExternalTransferOrderItems.ExternalTransferOrderDetails.DealUomUnit" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-dropdown
                value.bind="data.ExternalTransferOrderItems.ExternalTransferOrderDetails.Grade"
                options.bind="controlOptions"
                items.bind="grade">
            </au-dropdown>
        </td>
        <td>
            <au-textbox  
                value.bind="data.ExternalTransferOrderItems.ExternalTransferOrderDetails.ProductRemark" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>    
		<td if.bind="!readOnly">
			<button class="btn btn-danger pull-right" click.delegate="onremove(data)">-</button>
		</td>
    </tr>
</template>