<template>
    <tr>
        <td class="col-md-1">
            <au-textbox value.bind="data.Category.name" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-1">
            <au-textbox value.bind="data.Product.code" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-2">
            <au-textbox value.bind="data.Product.composition" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-1">
            <au-textbox value.bind="data.Product.construction" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-1">
            <au-textbox value.bind="data.Product.yarn" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-1">
            <au-textbox value.bind="data.Product.width" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-1">
            <au-textbox value.bind="data.Description" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-1">
            <au-textbox value.bind="data.QuantityInUnit" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-1">
            <au-textbox value.bind="data.PricePerUnit" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-1">
            <au-numeric value.bind="data.Total" options.bind="controlOptions" read-only.bind="readOnly"></au-numeric>
        </td>
    </tr>
</template>