<template>
  <tr>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.DateOperation" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.TimeOperation" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.BeamOperatorName" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.BeamOperatorGroup" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.OperationStatus" read-only.bind="true">
      </au-textbox>
    </td>
  </tr>
</template>
