<template>
  <tr>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.DateOrdered" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.OrderNumber" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.ConstructionNumber" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.TotalGramEstimation" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.WholeGrade" read-only.bind="true">
      </au-textbox>
    </td>
  </tr>
</template>
