<template>
    <au-input-form title.bind="title" with.bind="context" options.bind="formOptions">
        <div class="col-md-12">
            <br>
            <br>
            <div class="row" style="white-space: nowrap;">
                <div class="col-md-2">
                    <textbox label="Tanggal Berhenti" read-only="true"></textbox>
                </div>
                <div class="col-md-3">
                    <au-datepicker value.bind="data.StopDate" error.bind="error.StopDate">
                    </au-datepicker>
                </div>

                <div class="col-md-2" style="text-align:left;">
                    <textbox label="Waktu Berhenti" read-only="true" style="display: inline-block"></textbox>
                </div>
                <div class="col-md-2">
                    <input value.bind="StopTime" type="time" error.bind="error.StopTime" read-only.bind="readOnly">
                </div>
            </div>

            <div class="row" style="white-space: nowrap;">
                <div class="col-md-2">
                    <textbox label="Shift" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-textbox placeholder="Shift" value.bind="data.Shift.Name" error.bind="error.GroupLoom"
                        read-only.bind="true">
                    </au-textbox>
                </div>
            </div>

            <div class="row" style="white-space: nowrap;">
                <div class="col-md-2">
                    <textbox label="Operator" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-autocomplete placeholder="Cari Operator" value.bind="Operator" error.bind="error.Operator"
                        read-only.bind="readOnly" options.bind="customOptions" loader.bind="Operators" text="Name">
                    </au-autocomplete>
                </div>

                <div class="col-md-2">
                    <textbox label="Group Loom" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-textbox placeholder="Group Loom" value.bind="data.GroupLoom" error.bind="error.GroupLoom"
                        read-only.bind="true">
                    </au-textbox>
                </div>
            </div>
        </div>
    </au-input-form>
</template>