<template>
    <td style="text-align:center;" class="col-sm-2">
        <au-textbox value.bind="item.indicator" read-only.bind="options.readOnly" options.bind="controlOptions"></au-textbox>
    </td>
    <td>
        <au-textbox value.bind="item.value" read-only.bind="options.readOnly" options.bind="controlOptions"></au-textbox>
    </td>
    <td>
        <au-textbox value.bind="item.uom" read-only.bind="options.readOnly" options.bind="controlOptions"></au-textbox>
    </td>
    <td if.bind="!options.readOnly"><button class="btn btn-danger pull-right" click.delegate="onremove(items, $event)">-</button></td>
</template>