<template>
  <tr>
    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.AvalType"
        read-only.bind="true"
        error.bind="error.AvalType"
      >
      </au-textbox>
    </td>

    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.AvalCartNo"
        read-only.bind="true"
        error.bind="error.AvalCartNo"
      >
      </au-textbox>
    </td>

    <td style="white-space: nowrap;">
      <au-textbox
        value.bind="data.AvalUomUnit"
        read-only.bind="true"
        error.bind="error.AvalUomUnit"
      >
      </au-textbox>
    </td>

    <td style="white-space: nowrap;">
      <au-numeric
        value.bind="data.AvalQuantity"
        read-only.bind="readOnly"
        error.bind="error.AvalQuantity"
      >
      </au-numeric>
    </td>

    <td style="white-space: nowrap;">
      <au-numeric
        value.bind="data.AvalQuantityKg"
        read-only.bind="readOnly"
        error.bind="error.AvalQuantityKg"
      >
      </au-numeric>
    </td>

    <!-- <td class="col-sm-1" if.bind="!readOnly">
      <button
        class="btn btn-danger pull-right"
        click.delegate="onremove(data, $event)"
      >
        -
      </button>
    </td> -->
  </tr>
</template>
