<template>
    <tr>
        <td>
            <au-textbox show.bind="!data.ShipmentDocumentCode" value.bind="data.ShipmentDocumentId" read-only.bind="true"></au-textbox>
            <au-textbox value.bind="data.ShipmentDocumentCode" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.ProductName" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.ProductCode" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.Quantity" error.bind="error.Quantity" read-only.bind="readOnly">
            </au-textbox>
            <au-textbox value.bind="data.PackingUom" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="data.Total" error.bind="error.Total" read-only.bind="readOnly" format="0,0">
            </au-numeric>
            <au-autocomplete value.bind="data.Uom" key="Unit" text="Unit" read-only.bind="true">
            </au-autocomplete>
        </td>

    </tr>
</template>