<template>
    <tr>
        <td>
            <au-textbox value.bind="data.ShipmentDocumentCode" read-only.bind="true"></au-textbox>
            <au-textbox value.bind="data.ShipmentDocumentId" read-only.bind="true"></au-textbox>

            <au-textbox error.bind="error.SalesInvoiceItem" read-only.bind="true"></au-textbox>

            <au-collection columns.bind="salesInvoiceItemsInfo.columns" items.bind="data.DOReturnItems"
                errors.bind="error.DOReturnItems" read-only.bind="readOnly" options.bind="shipmentDocumentTableOptions"
                item-template="modules/sales/sales-invoice/template/sales-invoice-item"
                view-model.ref="ReturnDetailItemsCollection">
            </au-collection>
        </td>
        <td if.bind="!readOnly">
            <button if.bind="!readOnly" class="btn btn-danger pull-right"
                click.delegate="onremove(data, $event)">-</button>
        </td>
    </tr>
</template>