<template>
    <tr>
        <td>
            <au-textbox value.bind="data.ProductCode" error.bind="error.ProductCode" read-only.bind="readOnly"
                placeholder="Input Kode">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.ProductName" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.Quantity" read-only.bind="true"></au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.QuantityUOM" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="Total" read-only.bind="true" format="0,0">
            </au-numeric>
        </td>
        <td>
            <au-autocomplete placeholder="pilih Satuan" value.bind="selectedUom" error.bind="error.UomUnit"
                loader.one-time="uomLoader" key="Unit" text="Unit" read-only.bind="readOnly">
            </au-autocomplete>
        </td>
        <td>
            <au-numeric value.bind="Price" error.bind="error.Price" read-only.bind="readOnly" format="0,0.00">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="getAmount" error.bind="error.Amount" read-only.bind="true" format="0,0.00">
            </au-numeric>
        </td>
    </tr>
</template>