<template>
    <tr>
        <td>
            <au-textbox value.bind="data.ProductionOrderNo" error.bind="error.ProductionOrderNo" read-only.bind="true"></au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.UnitCode" error.bind="error.UnitCode" read-only.bind="readOnly"
            placeholder="Input Jenis / Code"></au-textbox>
        </td>
        <td>
            <au-numeric value.bind="TotalPacking" error.bind="error.TotalPacking" format="0,0"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="TotalImperial" error.bind="error.TotalImperial" format="0,0"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="TotalMetric" error.bind="error.TotalMetric" format="0,0"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <!-- <td if.bind="!options.readOnly">
            <button if.bind="!options.readOnly" class="btn btn-danger pull-right"
                click.delegate="onremove(data, $event)">-</button>
        </td> -->
    </tr>
</template>