<template replace-part="item">
    <tr>
        <td>
            <au-textbox value.bind="data.UnitName" error.bind="error.UnitName" read-only.bind="readOnly"
                placeholder="Input Nama Barang"></au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.UnitCode" error.bind="error.UnitCode" read-only.bind="readOnly"
                placeholder="Input Kode Barang"></au-textbox>
        </td>
        <td show.bind="!readOnly">
            <au-numeric value.bind="data.PackingQuantity" error.bind="error.PackingQuantity" format="0,0.00"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td if.bind="readOnly">
            <au-numeric value.bind="PackingQuantity" error.bind="error.PackingQuantity" format="0,0.00"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td show.bind="!readOnly">
            <au-numeric value.bind="data.ImperialQuantity" error.bind="error.ImperialQuantity" format="0,0.00"
                read-only.bind="readOnly"></au-numeric>
        </td>
        <td if.bind="readOnly">
            <au-numeric value.bind="ImperialQuantity" error.bind="error.ImperialQuantity" format="0,0.00"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td show.bind="!readOnly">
            <au-numeric value.bind="data.MetricQuantity" error.bind="error.MetricQuantity" format="0,0.00"
                read-only.bind="readOnly"></au-numeric>
        </td>
        <td if.bind="readOnly">
            <au-numeric value.bind="MetricQuantity" error.bind="error.MetricQuantity" format="0,0.00"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td if.bind="!options.readOnly">
            <button if.bind="!options.readOnly" class="btn btn-danger pull-right"
                click.delegate="onremove(data, $event)">-</button>
        </td>
    </tr>
</template>