<template replace-part="item">
    <tr>
        <td>
            <au-textbox value.bind="data.UnitName" error.bind="error.UnitName" read-only.bind="readOnly"
                placeholder="Input Nama Barang"></au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.UnitCode" error.bind="error.UnitCode" read-only.bind="readOnly"
                placeholder="Input Kode Barang"></au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.UnitRemark" error.bind="error.UnitRemark" read-only.bind="readOnly"
                placeholder="Input Keterangan Barang"></au-textbox>
        </td>
        <td show.bind="!readOnly">
            <au-numeric value.bind="TotalPacking" error.bind="error.TotalPacking" format="0,0"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td if.bind="readOnly">
            <au-numeric value.bind="TotalPacking" error.bind="error.TotalPacking" format="0,0"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td show.bind="!readOnly">
            <au-numeric value.bind="TotalLength" error.bind="error.TotalLength"
                read-only.bind="readOnly"></au-numeric>
        </td>
        <td if.bind="readOnly">
            <au-numeric value.bind="TotalLength" error.bind="error.TotalLength"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td show.bind="!readOnly">
            <au-numeric value.bind="getTotalLengthConversion" error.bind="error.TotalLengthConversion"
                read-only.bind="true"></au-numeric>
        </td>
        <td if.bind="readOnly">
            <au-numeric value.bind="getTotalLengthConversion" error.bind="error.TotalLengthConversion"
                read-only.bind="true">
            </au-numeric>
        </td>
        <td if.bind="!options.readOnly">
            <button if.bind="!options.readOnly" class="btn btn-danger pull-right"
                click.delegate="onremove(data, $event)">-</button>
        </td>
    </tr>
</template>