<template>
    <tr>
        <td>
            <au-textbox value.bind="data.ProductionOrder.OrderNo" error.bind="error.ProductionOrder" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.ConstructionName" read-only.bind="true"></au-textbox>
            <au-textbox value.bind="data.Material" error.bind="error.Material" read-only.bind="true"
                show.bind=!data.ProductionOrder></au-textbox>
            <au-textbox value.bind="data.MaterialConstruction" error.bind="error.MaterialConstruction"
                read-only.bind="true" show.bind=!data.ProductionOrder></au-textbox>
            <au-textbox value.bind="data.MaterialWidth" read-only.bind="true" show.bind=!data.ProductionOrder>
            </au-textbox>
            <au-textbox value.bind="data.ColorRequest" read-only.bind="true" show.bind=!data.ProductionOrder>
            </au-textbox>
            <au-textbox value.bind="data.ColorTemplate" read-only.bind="true" show.bind=!data.ProductionOrder>
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.UnitOrCode" error.bind="error.UnitOrCode" read-only.bind="readOnly"
                placeholder="Input Jenis / Code"></au-textbox>
        </td>
        <td>
            <au-numeric value.bind="data.TotalPacking" error.bind="error.TotalPacking" format="0,0"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.TotalImperial" error.bind="error.TotalImperial" format="0,0"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.TotalMetric" error.bind="error.TotalMetric" format="0,0"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td if.bind="!options.readOnly">
            <button if.bind="!options.readOnly" class="btn btn-danger pull-right"
                click.delegate="onremove(data, $event)">-</button>
        </td>
    </tr>
</template>