<template replace-part="packingCodeItem">
  <style>
    .text-center {
      text-align: center;
    }
  </style>

  <tr>
    <td show.bind="!readOnly && !isEdit" style="text-align: center;">
      <au-checkbox value.bind="data.IsSave" disabled.bind="readOnly">
      </au-checkbox>
    </td>
    <td class="text-center">
      <au-textbox value.bind="data.packingCode" read-only.bind="true" error.bind="error.packingCode"
        options.bind="controlOptions">
      </au-textbox>
    </td>
  </tr>
</template>