<template>
    <tr>
        <td>
            <au-textbox value.bind="data.MeasurementIndex + 1" options.bind="controlOptions" read-only="true"></au-textbox>
        </td>
        <td>
            <au-numeric
                value.bind="data.qty"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td>
            <au-numeric
                value.bind="data.qty"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td>
            <au-numeric
                value.bind="data.ProductRemark"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td >
            <au-numeric
                value.bind="data.Quantity"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td >
            <au-numeric
                value.bind="data.cmb"
                read-only.bind="readOnly">
            </au-numeric>
        </td>

        <td if.bind="!readOnly">
            <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
        </td>
    </tr>
    
</template>