<template>
    <tr>
        <td>
            <au-textbox
                value.bind="data.SizeName"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric
                value.bind="data.Quantity"
                read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-textbox
                value.bind="data.UomUnit"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.Remark"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-autocomplete
                value.bind="selectedComodity"
                error.bind="error.LeftoverComodity"
                loader.bind="leftoverComodityLoader"
                read-only.bind="readOnly"
                placeholder="leftoverComodity"
                text.bind="leftoverComodityView">
            </au-autocomplete>
        </td>
    </tr>
    
</template>