<template>
	<tr>
		<td>
			<au-textbox
				value.one-way="data.purchaseRequestRefNo"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.roNo"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="product"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-numeric
				value.bind="data.deliveredQuantity"
				read-only.bind="readOnly"
				error.bind="error.deliveredQuantity">
			</au-numeric>
		</td>
		<td>
			<au-textbox
				value.one-way="data.deliveredUom.unit"
				read-only="true">
			</au-textbox>
		</td>
		
        <td>
            <au-numeric 
                value.bind="data.conversion"
                error.bind="error.conversion"
                read-only.bind="readOnly"
                change.delegate="conversionChanged($event)"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="quantityConversion"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-autocomplete 
                value.bind="data.uomConversion.unit" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-autocomplete>                   
        </td>
		<td>
			<au-textbox
				value.one-way="buyer"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.artikel"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.bind="data.remark"
				read-only.bind="readOnly">
			</au-textbox>
		</td>
		<td if.bind="!readOnly">
			<button class="btn btn-danger pull-right" click.delegate="onremove(data)">-</button>
		</td>
	</tr>
</template>