<template>
  <au-input-form title.bind="title" with.bind="context" options.bind="formOptions">
    <div class="col-md-12">
      <br>
      <br>
      <div class="row" style="white-space: nowrap;">
        <div class="col-md-2">
          <textbox label="Tanggal Mulai" read-only="true"></textbox>
        </div>
        <div class="col-md-3">
          <au-datepicker value.bind="StartDate" error.bind="error.StartDate">
          </au-datepicker>
        </div>

        <div class="col-md-2" style="text-align:left;">
          <textbox label="Waktu Mulai" read-only="true" style="display: inline-block"></textbox>
        </div>
        <div class="col-md-2">
          <input value.bind="StartTime" type="time" error.bind="error.StartTime" read-only.bind="readOnly">
        </div>
      </div>

      <div class="row" style="white-space: nowrap;">
        <div class="col-md-2">
          <textbox label="Shift" read-only="true"></textbox>
        </div>
        <div class="col-md-2">
          <au-textbox placeholder="Shift" value.bind="data.StartShiftName" error.bind="error.GroupLoom"
            read-only.bind="true">
          </au-textbox>
        </div>
      </div>

      <div class="row" style="white-space: nowrap;">
        <div class="col-md-2">
          <textbox label="Operator" read-only="true"></textbox>
        </div>
        <div class="col-md-2">
          <au-autocomplete placeholder="Cari Operator" value.bind="startOperator" error.bind="error.startOperator"
            read-only.bind="readOnly" options.bind="customOptions" loader.bind="Operators" text="Username">
          </au-autocomplete>
        </div>

        <div class="col-md-2">
          <textbox label="Group Loom" read-only="true"></textbox>
        </div>
        <div class="col-md-2">
          <au-textbox placeholder="Group Loom" value.bind="Operator.Group" error.bind="error.Group"
            read-only.bind="true">
          </au-textbox>
        </div>
      </div>
    </div>
  </au-input-form>
</template>
