<template>
    <au-input-form title.bind="title" with.bind="context" options.bind="formOptions">
        <div class="col-md-12">
            <div class="row" style="white-space: nowrap;">
                <div class="col-md-2">
                    <textbox label="Tanggal Pasang" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-datepicker value.bind="data.UpDate" error.bind="error.UpDate">
                    </au-datepicker>
                </div>

                <div class="col-md-2" style="text-align:left;">
                    <textbox label="Waktu Pasang" read-only="true" style="display: inline-block"></textbox>
                </div>
                <div class="col-md-2">
                    <input value.bind="data.UpTime" type="time" error.bind="error.UpTime" read-only.bind="readOnly">
                </div>
            </div>

            <div class="row" style="white-space: nowrap;">
                <div class="col-md-2">
                    <textbox label="Tanggal Mulai" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-datepicker value.bind="data.StartDate" error.bind="error.StartDate">
                    </au-datepicker>
                </div>

                <div class="col-md-2" style="text-align:left;">
                    <textbox label="Waktu Mulai" read-only="true" style="display: inline-block"></textbox>
                </div>
                <div class="col-md-2">
                    <input value.bind="data.StartTime" type="time" error.bind="error.StartTime"
                        read-only.bind="readOnly">
                </div>

                <div class="col-md-2">
                    <textbox label="Shift Mesin" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-textbox placeholder="Shift Mesin" value.bind="Shift" error.bind="error.Shift"
                        read-only.bind="readOnly">
                    </au-textbox>
                </div>
            </div>

            <div class="row" style="white-space: nowrap;">
                <div class="col-md-2">
                    <textbox label="Operator" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-autocomplete placeholder="Cari Operator" value.bind="Operator" error.bind="error.Operator"
                        read-only.bind="readOnly" options.bind="customOptions" loader.bind="Operators" text="Name">
                    </au-autocomplete>
                </div>

                <div class="col-md-2">
                    <textbox label="Group Loom" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-textbox placeholder="Group Loom" value.bind="data.GroupLoom" error.bind="error.GroupLoom"
                        read-only.bind="readOnly">
                    </au-textbox>
                </div>
            </div>

            <div class="row" style="white-space: nowrap;">
                <div class="col-md-2">
                    <textbox label="Unit Weaving" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-autocomplete placeholder="Cari Unit" value.bind="WeavingUnit" error.bind="error.WeavingUnit"
                        read-only.bind="readOnly" options.bind="customOptions" loader.bind="WeavingUnits" text="Name">
                    </au-autocomplete>
                </div>
            </div>

            <div class="row" style="white-space: nowrap;">
                <div class="col-md-2">
                    <textbox label="No Order Produksi" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-autocomplete placeholder="Cari No Order Produksi" value.bind="OrderProduction"
                        error.bind="error.OrderProduction" read-only.bind="readOnly" options.bind="customOptions"
                        loader.bind="OrderProductions" text="Number">
                    </au-autocomplete>
                </div>

                <div class="col-md-2">
                    <textbox label="No Konstruksi" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-textbox placeholder="No Konstruksi" value.bind="FabricConstruction"
                        error.bind="error.FabricConstruction" read-only.bind="readOnly" options.bind="customOptions"
                        loader.bind="FabricConstructions" text="Number">
                    </au-textbox>
                </div>
            </div>

            <div class="row" style="white-space: nowrap;">
                <div class="col-md-2">
                    <textbox label="Asal Lusi" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-textbox placeholder="Asal Lusi" value.bind="data.WarpOrigin" error.bind="error.WarpOrigin"
                        read-only.bind="readOnly">
                    </au-textbox>
                </div>
                <div class="col-md-2">
                    <textbox label="Asal Pakan" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-textbox placeholder="Asal Pakan" value.bind="data.WaftOrigin" error.bind="error.WaftOrigin"
                        read-only.bind="readOnly">
                    </au-textbox>
                </div>
            </div>


            <div class="row" style="white-space: nowrap;">
                <div class="col-md-2">
                    <textbox label="No Beam" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-autocomplete placeholder="Cari No Beam" value.bind="Beam" error.bind="error.Beam"
                        read-only.bind="readOnly" options.bind="customOptions" loader.bind="Beams" text="Number">
                    </au-autocomplete>
                </div>
            </div>

            <div class="row" style="white-space: nowrap;">
                <div class="col-md-2">
                    <textbox label="No Mesin" read-only="true"></textbox>
                </div>
                <div class="col-md-2">
                    <au-autocomplete placeholder="Cari No Mesin" value.bind="Machine" error.bind="error.Machine"
                        read-only.bind="readOnly" options.bind="customOptions" loader.bind="Machines" text="Number">
                    </au-autocomplete>
                </div>
            </div>

        </div>
    </au-input-form>
</template>