<template>
  <tr>
    <td style="white-space: nowrap;">
      <au-autocomplete value.bind="BeamDocument" error.bind="error.BeamDocument" read-only.bind="readOnly"
        placeholder="Nomor Beam" loader.bind="beams" text="BeamNumber">
      </au-autocomplete>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.BeamConstructions" error.bind="error.BeamConstructions" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" if.bind="!readOnly">
      <button class="btn btn-danger pull-right" click.delegate="onremove(beamData, $event)">
        -
      </button>
    </td>
  </tr>
</template>
