<template>
  <tr>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.ShiftName" error.bind="error.ShiftName" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.BrokenBeamCauses" error.bind="error.BrokenBeamCauses" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.OperationDateHistory" error.bind="error.MachineDateHistory" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.OperationTimeHistory" error.bind="error.MachineDateHistory" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.OperationStatusHistory" error.bind="error.OperationStatusHistory" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.InformationHistory" error.bind="error.InformationHistory" read-only.bind="true">
      </au-textbox>
    </td>
    <!-- <td style="white-space: nowrap;">
      <au-textbox value.bind="data.PIS" error.bind="error.PIS" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.Visco" error.bind="error.Visco" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.Counter" error.bind="error.Counter" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" if.bind="!readOnly">
        <button
          class="btn btn-danger pull-right"
          click.delegate="onremove(data, $event)"
        >
          -
        </button>
      </td> -->
  </tr>
</template>
