<template>
  <tr>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.SizingBeamNumber" error.bind="error.SizingBeamNumber" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.ShiftName" error.bind="error.ShiftName" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.BrokenBeamCauses" error.bind="error.BrokenBeamCauses" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.MachineDateHistory" error.bind="error.MachineDateHistory" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.MachineTimeHistory" error.bind="error.MachineDateHistory" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.MachineStatusHistory" error.bind="error.MachineStatusHistory" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.InformationHistory" error.bind="error.InformationHistory" read-only.bind="true">
      </au-textbox>
    </td>
  </tr>
</template>
