<template>
  <tr>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.SizingBeamNumber" error.bind="error.SizingBeamNumber" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.ProduceBeamsDate" error.bind="error.ProduceBeamsDate" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.ProduceBeamsTime" error.bind="error.ProduceBeamsTime" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox placeholder="Counter Akhir" value.bind="data.FinishCounter" error.bind="error.FinishCounter"
        read-only.bind="true"></au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox placeholder="PIS(m)" value.bind="data.PISMeter" error.bind="error.PISMeter" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox placeholder="Berat Bersih (Netto)" value.bind="data.NettoWeight" error.bind="error.NettoWeight"
        read-only.bind="true"></au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox placeholder="Berat Kotor (Bruto)" value.bind="data.BrutoWeight" error.bind="error.BrutoWeight"
        read-only.bind="true"></au-textbox>
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox placeholder="SPU" value.bind="data.SPU" error.bind="error.SPU" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox placeholder="Status Beam Sizing" value.bind="data.SizingBeamStatus"
        error.bind="error.SizingBeamStatus" read-only.bind="true">
      </au-textbox>
    </td>
  </tr>
</template>
