<template replace-part="packingItem">
    <tr>
        <td>
            <au-numeric value.bind="data.packagingQty" read-only.bind="true" error.bind="error.PackagingQty"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-textbox value.bind="data.packagingType" format="0.00" read-only.bind="readOnly"
                error.bind="error.PackagingType" options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="data.qty" format="0.00" read-only.bind="readOnly"
                error.bind="error.qty" options.bind="controlOptions">
            </au-numeric>
        </td>
    </tr>
</template>