<!-- <style>
th,td {
  border: 1px solid black;
}
</style> -->
<template>
  <tr>
    <!-- <require from="../../../../lib/number-format-value-converter"></require> -->
    <td>
      <au-textbox value.bind="data.yarn.code" read-only.bind="true">
      </au-textbox>
    </td>
    <td>
      <au-autocomplete
        value.bind="data.warpType"
        error.bind="error.warpType"
        read-only.bind="readOnly"
        placeholder="Benang Lusi"
        loader.bind="yarns"
      >
      </au-autocomplete>
    </td>
    <td>
      <au-numeric
        value.bind="data.amountOfWarp"
        error.bind="error.amountOfWarp"
        read-only.bind="readOnly"
        placeholder="Kuantitas Lusi"
      >
      </au-numeric>
    </td>
    <td>
      <au-textbox
        value.bind="data.warp.information"
        read-only.bind="readOnly"
        placeholder="Keterangan"
      >
      </au-textbox>
    </td>
    <td class="col-sm-1" if.bind="!readOnly">
      <button
        class="btn btn-danger pull-right"
        click.delegate="onremove(warpData, $event)"
      >
        -
      </button>
    </td>
  </tr>
</template>
