<template>
  <tr>
    <td>
      <au-textbox
        value.bind="data.warpType.code"
        error.bind="error.warpType.code"
        read-only.bind="true"
      >
      </au-textbox>
    </td>
    <td>
      <au-autocomplete
        value.bind="warpType"
        error.bind="error.warpType"
        read-only.bind="readOnly"
        placeholder="Benang Lusi"
        loader.bind="yarnsWarp"
        text="name"
      >
      </au-autocomplete>
    </td>
    <td>
      <au-numeric
        value.bind="data.warp.quantity"
        error.bind="error.warp.quantity"
        read-only.bind="readOnly"
        placeholder="Kuantitas Lusi"
      >
      </au-numeric>
    </td>
    <td>
      <au-textbox
        value.bind="data.warp.information"
        read-only.bind="readOnly"
        placeholder="Keterangan"
      >
      </au-textbox>
    </td>
    <td class="col-sm-1" if.bind="!readOnly">
      <button
        class="btn btn-danger pull-right"
        click.delegate="onremove(warpData, $event)"
      >
        -
      </button>
    </td>
  </tr>
</template>
