<template>
  <tr>
    <td>
      <au-textbox
        value.bind="data.weftType.code"
        error.bind="error.weftType.code"
        read-only.bind="true"
      >
      </au-textbox>
    </td>
    <td>
      <au-autocomplete
        value.bind="weftType"
        error.bind="error.weftType"
        read-only.bind="readOnly"
        placeholder="Benang Pakan"
        loader.bind="yarnsWeft"
        text="name"
      >
      </au-autocomplete>
    </td>
    <td>
      <au-numeric
        value.bind="data.weft.quantity"
        error.bind="error.amountOfWeft"
        read-only.bind="readOnly"
        placeholder="Kuantitas Pakan"
      >
      </au-numeric>
    </td>
    <td>
      <au-textbox
        value.bind="data.weft.information"
        read-only.bind="readOnly"
        placeholder="Keterangan"
      >
      </au-textbox>
    </td>
    <td class="col-sm-1" if.bind="!readOnly">
      <button
        class="btn btn-danger pull-right"
        click.delegate="onremove(weftData, $event)"
      >
        -
      </button>
    </td>
  </tr>
</template>
