<template>
  <tr>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.WarpingBeamNumber" error.bind="error.WarpingBeamNumber" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.LatestDateBeamProduct" error.bind="error.LatestDateBeamProduct" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.BrokenThreadsCause" error.bind="error.BrokenThreadsCause" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.ConeDeficient" error.bind="error.ConeDeficient" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.LooseThreadsAmount" error.bind="error.LooseThreadsAmount" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.RightLooseCreel" error.bind="error.RightLooseCreel" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.LeftLooseCreel" error.bind="error.LeftLooseCreel" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.WarpingBeamLength" error.bind="error.WarpingBeamLength" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.Tention" error.bind="error.Tention" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.MachineSpeed" error.bind="error.MachineSpeed" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.PressRoll" error.bind="error.PressRoll" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.WarpingBeamStatus" error.bind="error.WarpingBeamStatus" read-only.bind="true">
      </au-textbox>
    </td>
  </tr>
</template>
