<template>
  <tr>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.WarpingBeamNumber" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.MachineDate" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.MachineTime" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.ShiftName" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.OperatorName" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.OperatorGroup" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.MachineStatus" read-only.bind="true">
      </au-textbox>
    </td>
  </tr>
</template>
