<template>
  <tr>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.MachineDate" error.bind="error.MachineDate" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.MachineTime" error.bind="error.MachineTime" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.ShiftName" error.bind="error.ShiftName" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.OperatorName" error.bind="error.OperatorName" read-only.bind="true">
      </au-textbox>
    </td>
    <td class="col-sm-1" style="white-space: nowrap;">
      <au-textbox value.bind="data.MachineStatus" error.bind="error.MachineStatus" read-only.bind="true">
      </au-textbox>
    </td>
  </tr>
</template>
