#dragula .drag {
    width: 100%;
    min-height: 400px;
}

#dragula input[type=text] {
    width: 50%;
    padding: 12px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}

#dragula .div {
    float: left;
    width: 25%;
    padding: 5px;
}

.gu-mirror {
    padding: 5px;
    background-color: #ddd;
    vertical-align: bottom;
    transition: all 0.4s ease-in-out;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#dragula ul {
    padding: 5px;
    margin: 0;
    background: #E2E4E6;
}

#dragula ul li,
li.gu-mirror {
    border-radius: 10px;
    background: white;
    cursor: pointer;
    list-style: none;
    margin: 5px;
    border: 2px solid #ddd;
    text-align: center;
    line-height: 45px;
}

.fa-plus {
    cursor: pointer;
}