<template>
    <form class="form-horizontal">
        <div class="form-group ${error.code?'has-error':''}">
            <label for="code" class="col-sm-2 control-label">Code</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="code" value.bind="data.code" />
                <span class="help-block">${error.code}</span>
            </div>
        </div>
        <div class="form-group ${error.name?'has-error':''}">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" value.bind="data.name" />
                <span class="help-block">${error.name}</span>
            </div>
        </div>
        <!---->
        
        <div class="form-group ${error.address?'has-error':''}">
            <label for="address" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="address" value.bind="data.address"></textarea>
                <span class="help-block">${error.address}</span>
            </div>
        </div>
        <div class="form-group ${error.contact?'has-error':''}">
            <label for="phone" class="col-sm-2 control-label">Contact</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="contact" value.bind="data.contact" />
                <span class="help-block">${error.contact}</span>
            </div>
        </div>
        <div class="form-group ${error.tempo?'has-error':''}">
            <label for="tempo" class="col-sm-2 control-label">Tempo</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="tempo" value.bind="data.tempo"></textarea>
                <span class="help-block">${error.tempo}</span>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="col-sm-2 control-label">Local</label>
            <div class="col-sm-5">
                <label class="radio-inline">
                    <input type="radio" name="local" model.bind="true" checked.bind="data.local"> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="local" model.bind="false"  checked.bind="data.local"> No
                </label>
            </div>
        </div> 
        memory = ${data.local}-->
    </form>
</template>