<template >
    <tr>
        <td>
            <au-checkbox 
                value.bind="data.IsSave"
                disabled.bind="readOnly"
                change.delegate="changeCheckBox()"
                options.bind="controlOptions">
            </au-checkbox>
        </td>
        <td>
            <au-autocomplete
                value.bind="data.selectedPRItem"
                change.delegate="unitPRChanged($event)"
                error.bind="error.PRNo"
                read-only.bind="readOnly || isEdit"
                loader.bind="prLoader"
                text.bind="PRView"
                placeholder="Cari Purchase Request"
                view-model.ref="PRViewModel"
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
            <au-textbox 
            value.bind="data.ProductName" 
            read-only.bind="true"
            options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
            value.bind="data.CategoryName" 
            read-only.bind="true"
            options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.RemainingQuantity"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="data.Quantity"
                read-only.bind="context.context.options.readOnly"
                error.bind="error.Quantity"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-textbox 
                value.bind="data.Uom"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-textbox>                    
        </td>
        <td>
            <au-textbox 
                value.bind="data.ProductRemark"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.Area"
                error.bind="error.Area"
                read-only.bind="context.context.options.readOnly">
            </au-textbox>
        </td>
        <td if.bind="!options.readOnly">
            <button type="button"class="btn btn-danger btn-sm" click.delegate="removeItem()">-
                </button>
        </td>
    </tr>
</template>