<template>
    <tr>
        <!-- kategori -->
        <td>
            <au-autocomplete placeholder="Cari Kategori" value.bind="selectedCategory" key="name" text="name" error.bind="error.Category"
                loader.one-time="garmentCategoryLoader" options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <!-- kode barang -->
        <td>
            <au-textbox value.bind="productCode" options.bind="controlOptions" read-only.bind="true">
            </au-textbox>
        </td>
        <!-- komposisi -->
        <td>
            <au-autocomplete value.bind="selectedComposition" placeholder="Cari Komposisi" text="description" options.bind="controlOptions" loader.bind="garmentProductDistinctDescriptionLoader" show.bind="categoryIsExist">
            </au-autocomplete>
        </td>
        <!-- konstruksi -->
        <td>
            <au-autocomplete query.bind="filterProductQuery" placeholder="Cari Konstruksi" text.bind="getConstructionText" value.bind="selectedConstruction" options.bind="controlOptions" loader.bind="garmentProductLoader" show.bind="compositionIsExist">
            </au-autocomplete>
        </td>
        <!-- yarn -->
        <td>
            <au-autocomplete query.bind="filterProductQuery" placeholder="Cari Yarn" text.bind="getYarnText" value.bind="selectedYarn" options.bind="controlOptions" loader.bind="garmentProductLoader" show.bind="constructionIsExist">
            </au-autocomplete>
        </td>
        <!-- width -->
        <td>
            <au-autocomplete query.bind="filterProductQuery" placeholder="Cari Width" text.bind="getWidthText" value.bind="selectedWidth" options.bind="controlOptions" loader.bind="garmentProductLoader" show.bind="yarnIsExist">
            </au-autocomplete>
        </td>
        <!-- deskripsi -->
        <td>
            <au-multiline placeholder="Deskripsi" value.bind="data.Description" error.bind="error.Description" options.bind="controlOptions"
                show.bind="productCodeIsExist"></au-multiline>
        </td>
        <!-- kuantitas -->
        <td>
            <au-numeric value.bind="data.Quantity" error.bind="error.Quantity" options.bind="controlOptions" show.bind="productCodeIsExist" read-only.bind="isProcess"></au-numeric>
        </td>
        <!-- satuan -->
        <td>
            <au-autocomplete placeholder="Cari Satuan" value.bind="data.UOMQuantity" error.bind="error.UOMQuantity" loader.one-time="uomLoader"
                options.bind="controlOptions" text="unit" show.bind="productCodeIsExist" read-only.bind="isProcess">
            </au-autocomplete>
        </td>
        <!-- price -->
        <td>
            <au-numeric value.bind="data.Price" error.bind="error.Price" options.bind="controlOptions" show.bind="productCodeIsExist" read-only.bind="isProcess"></au-numeric>
        </td>
        <!-- satuan harga -->
        <td>
            <au-autocomplete placeholder="Cari Satuan" value.bind="data.UOMPrice" error.bind="error.UOMPrice" loader.one-time="uomLoader"
                options.bind="controlOptions" text="unit" show.bind="productCodeIsExist" read-only.bind="isProcess">
            </au-autocomplete>
        </td>
        <!-- konversi -->
        <td>
            <au-numeric value.bind="data.Conversion" error.bind="error.Conversion" options.bind="controlOptions" show.bind="productCodeIsExist" read-only.bind="isProcess"></au-numeric>
        </td>
        <!-- total -->
        <td>
            <au-numeric value.bind="total" read-only.bind="disabled"></au-numeric>
        </td>
        <!-- ongkir -->
        <td>
            <au-numeric value.bind="data.ShippingFeePortion" error.bind="error.ShippingFeePortion" options.bind="controlOptions" show.bind="productCodeIsExist"></au-numeric>
        </td>
        <!-- jumlah ongkir -->
        <td>
            <au-numeric value.bind="totalShippingFee" read-only.bind="disabled"></au-numeric>
        </td>
        <!-- kuantitas budget -->
        <td>
            <au-numeric value.bind="budgetQuantity" read-only.bind="disabled"></au-numeric>
        </td>
        <td if.bind="!readOnly">
            <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
        </td>
    </tr>
</template>