<template>
    <!-- Import shared component for UoM in Editor mode --> 
    <require from="../UoM-form-shared/uom-editor"></require>

    <!-- Actual Fabric form-->
    <form class="form-horizontal">
        <div class="form-group ${error.code?'has-error':''}">
            <label for="code" class="col-sm-2 control-label">Code</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="code" value.bind="data.code" />
                <span class="help-block">${error.code}</span>
            </div>
        </div>
        <div class="form-group ${error.name?'has-error':''}">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" value.bind="data.name" />
                <span class="help-block">${error.name}</span>
            </div>
        </div>
        <div class="form-group ${error.composition?'has-error':''}">
            <label for="composition" class="col-sm-2 control-label">Composition</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="composition" value.bind="data.composition"></textarea>
                <span class="help-block">${error.composition}</span>
            </div>
        </div>
        <div class="form-group ${error.construction?'has-error':''}">
            <label for="construction" class="col-sm-2 control-label">Construction</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="construction" value.bind="data.construction" />
                <span class="help-block">${error.construction}</span>
            </div>
        </div>
        <div class="form-group ${error.thread?'has-error':''}">
            <label for="thread" class="col-sm-2 control-label">Thread</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="thread" value.bind="data.thread"></textarea>
                <span class="help-block">${error.thread}</span>
            </div>
        </div>
        <div class="form-group ${error.width?'has-error':''}">
            <label for="width" class="col-sm-2 control-label">Width</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="width" value.bind="data.width"></textarea>
                <span class="help-block">${error.width}</span>
            </div>
        </div>
        <!-- Shared UoM component -->
        <uom-editor data.bind="data" error.bind="error"></uom-editor>
    </form>
</template>