<template>
    <tr>
        <!-- Proses -->
        <td>
            <au-textbox value.bind="data.Process" error.bind="error.Process" read-only.bind="true"
                options.bind="controlOptions"></au-textbox>
        </td>

        <!-- Machine -->
        <td>
            <au-autocomplete placeholder="Cari Mesin" read-only.bind="readOnly" value.bind="selectedMachine" key="Id"
                text="Name" error.bind="error.Machine" loader.one-time="machineLoader" options.bind="controlOptions">
            </au-autocomplete>
        </td>

        <!-- Chemical -->
        <td>
            <au-numeric value.bind="data.Chemical" error.bind="error.Chemical" options.bind="controlOptions"
                read-only.bind="true"></au-numeric>
        </td>

        <!-- Utility -->
        <td>
            <au-numeric value.bind="data.Utility" error.bind="error.Utility" options.bind="controlOptions"
                read-only.bind="true"></au-numeric>
        </td>

        <!-- Depretiation -->
        <td>
            <au-numeric value.bind="data.Depretiation" error.bind="error.Depretiation" options.bind="controlOptions"
                read-only.bind="true"></au-numeric>
        </td>

        <!-- Total -->
        <td>
            <au-numeric value.bind="data.Total" error.bind="error.Total" options.bind="controlOptions"
                read-only.bind="true"></au-numeric>
        </td>

    </tr>
</template>