<template>
    <require from="../../../utils/date-format"></require>
  
    <div class="display-wrapper">
        <h3>PO Master Fabric</h3>
        <br>
        <div class="row">
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control" name="keyword" value.bind="keyword" placeholder="cari" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" click.delegate="searching()"><i class="fa fa-search"></i></button>
                        <button class="btn btn-default" click.delegate="showAll()"> Tampilkan Semua </button>    
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-primary" click.delegate="gotoListPODL()">List PODL</button>
                    <button class="btn btn-primary" click.delegate="create()">Buat</button>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-3" >
                <div class="gray-box">
                    <span class="control-label padding-right-10">Posting</span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" click.delegate="tooglePostingTrue()">Ya</button>
                        <button type="button" class="btn btn-default" click.delegate="tooglePostingFalse()">Tidak</button>
                    </div>
                    <button type="button" class="btn btn-success ${isPosting ? '' : 'hide'}" click.delegate="posting()">Post</button>
                </div>
            </div>
            <div class="col-sm-3" >
                <div class="gray-box">
                    <span class="control-label padding-right-10">Cetak</span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" click.delegate="tooglePrintTrue()">Ya</button>
                        <button type="button" class="btn btn-default" click.delegate="tooglePrintFalse()">Tidak</button>
                    </div>
                    <button type="button" class="btn btn-success ${isPrint ? '' : 'hide'}" click.delegate="print()">Cetak</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="${isPosting ? '' : 'hide'}"></th>
                        <th class="${isPrint ? '' : 'hide'}"></th>
                        <th>Nomor PO</th>
                        <th>Nomor Referensi PO</th>
                        <th>Supplier</th>
                        <th>Tanggal Kirim</th>
                        <th>Nomor PODL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr repeat.for="item of data" click.delegate="view(item)">-->
                    <tr repeat.for="item of data">
                        <td class="${isPosting ? '' : 'hide'}">
                            <input checked.bind="item.isPosting" disabled.bind="item.PODLNo != ''" type="checkbox" change.delegate="pushDataToBePosting(item)" />
                        </td>
                        <td class="${isPrint ? '' : 'hide'}">
                            <input checked.bind="item.isPrint" disabled.bind="item.PODLNo == ''" type="checkbox" change.delegate="pushDataToBePrinting(item)" />
                        </td>
                        <td>${item.PONo}</td>
                        <td>${item.RefPONo}</td>
                        <td>${item.supplier.name}</td>
                        <td>${item.deliveryDate | dateFormat:'D MMMM YYYY'}</td>
                        <td>${item.PODLNo}</td>
                        <td><button class="btn btn-default" click.delegate="view(item)">Rincian</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="alert alert-info text-center" role="alert" if.bind="data.length == 0">
            Data po master fabric tidak ada.
        </div>
    </div><!-- /.display-wrapper -->
    <div class="print-wrapper a4" repeat.for="data of dataToBePrinting">
        <div class="row">
            <div class="col-xs-8">
                <address>
                    <label class="header">PT. DAN LIRIS</label><br />
                    Kel. Banaran (Selatan Laweyan), Kec. Grogol, Kab.Sukoharjo, Solo, Indonesia<br />
                    Telp. (0271) 714400, Fax.  (0271) 717177, PO. BOX 166 Solo 57100<br />
                    Email : purch.gmt@danliris.com<br />
                    
                </address>
                
                Kepada Yth : ${data.supplier.name}<br /><br />
            </div>
            <div class="col-xs-4"">
                <div class="row">
                    <div class="col-xs-4">
                        Ref. No
                    </div>
                    <div class="col-xs-7">
                        ${data.iso}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        PA. No
                    </div>
                    <div class="col-xs-7">
                        ${data.RefPONo}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        No
                    </div>
                    <div class="col-xs-7">
                        ${data.RONo}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        Pesanan
                    </div>
                    <div class="col-xs-7">
                        ${data.buyer.code}<br />
                        ${data.article}<br />
                        ${data.deliveryDate | dateFormat :'YYMMDD'}<br />
                    </div>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-justify">
                    Dengan hormat,<br />
                    Yang bertanda tangan di bawah ini, PT. DAN LIRIS, SOLO (selanjutnya disebut sebagai Pembeli)
                    dan ${data.supplier.name} (selanjutnya disebut sebagai Penjual) saling menyetujui
                    untuk mengadakan kontrak jual beli dengan ketentuan sebagai berikut :
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">NAMA DAN JENIS BARANG</th>
                        <th class="text-center">JUMLAH</th>
                        <th class="text-center">HARGA SATUAN</th>
                        <th class="text-center">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr repeat.for="item of data" click.delegate="view(item)">-->
                    <tr repeat.for="item of data.items">
                        <td>
                            ${item.product.name} <br />
                            KOMPOSISI ${item.product.detail.composition} <br />
                            KONSTRUKSI ${item.product.detail.construction} <br />
                            YARN ${item.product.detail.yards} <br />
                            LEBAR FINISH ${item.product.detail.width} <br />
                        </td>
                        <td class="text-center">${item.qty}</td>
                        <td class="text-right">${item.price / item.qty}</td>
                        <td class="text-right">${item.price}</td>
                    </tr>
                </tbody>
                 <tfoot>
                    <tr>
                        <td class="text-center">Jumlah Total</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">PPN 10 %</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">Nominal</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
            <div class="row">
                <table style="height:auto;">
                    <tbody>
                        <tr>
                            <td>Ongkos Kirim</td>
                            <td style="width:20px;"></td>
                            <td>: Ditanggung oleh ${data.deliveryFeeByBuyer ? 'Pembeli' : 'Penjual'}</td>
                        </tr>
                        <tr>
                            <td>Delivery</td>
                            <td></td>
                            <td>: ${data.deliveryDate | dateFormat:'D MMMM YYYY'}</td>
                        </tr>
                        <tr>
                            <td>Pembayaran</td>
                            <td></td>
                            <td>: ${data.termOfPayment}</td>
                        </tr>
                        <tr>
                            <td>Lain - lain</td>
                            <td></td>
                            <td>: ${data.description}</td>
                        </tr>
                        <tr>
                            <td>Standard Quality</td>
                            <td></td>
                            <td>Jls ; AATCC ; ISO</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Shrinkage test untuk ${data.standardQuality.shrinkage} %</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Rubbing Test :</td>
                            <td>WET Rubbing ${data.standardQuality.wetRubbing} %</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Dry Rubbing ${data.standardQuality.dryRubbing} %</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Washing test : ${data.standardQuality.washing} %</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Prespiration Test :</td>
                            <td>Dark ${data.standardQuality.darkPrespiration} %</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Light / Med ${data.standardQuality.lightMedPrespiration} %</td>
                        </tr>
                        <tr>
                            <td>Piece Length</td>
                            <td></td>
                            <td>60 yards up 20 %</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>120 yards up 80 %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div class="footer">
            <div class="row sign-footer">
                <div class="col-xs-5">
                    <div style="text-align:center;">
                        Pembeli,<br /><br /><br /><br /><br /><br />
                        Nama<br />
                        Bag. Pembelian
                    </div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-5">
                    <div style="text-align:center;">
                        Penjual,<br /><br /><br /><br /><br /><br />
                        _______________________
                    </div>
                </div>
            </div>
        </div>
        
        <div style="page-break-after:always;"></div>
    </div><!-- /.print-wrapper -->
    
</template>