<template>
    <form class="form-horizontal">
        <div class="form-group ${error.RefPONo?'has-error':''}">
            <label for="RefPONo" class="col-sm-3 control-label">Nomor Referensi PO</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="RefPONo" value.bind="data.RefPONo" />
                <span class="help-block">${error.RefPONo}</span>
            </div>
        </div>
        <div class="form-group ${error.suppliername?'has-error':''}">
            <label for="suppliername" class="col-sm-3 control-label">Nama Supplier</label>
            <div class="col-sm-5">
                <input class="form-control" name="suppliername" value.bind="data.supplier.name"></input>
                <span class="help-block">${error.supplierId}</span>
            </div>
        </div>

        <div class="form-group ${error.deliveryFeeByBuyer?'has-error':''}">
            <label for="deliveryFeeByBuyer" class="col-sm-3 control-label">Ongkos Kirim Ditanggung oleh</label>
            <div class="col-sm-5">
                <input type="radio" name="deliveryFeeByBuyer" value="true"> Pembeli
                <input type="radio" name="deliveryFeeByBuyer" value="false"> Penjual
                <span class="help-block">${error.deliveryFeeByBuyer}</span>
            </div>
        </div>

        <div class="form-group ${error.deliveryDate?'has-error':''}">
            <label for="deliveryDate" class="col-sm-3 control-label">Tanggal Kirim</label>
            <div class="col-sm-3">
                <input type="date" class="form-control" name="deliveryDate" value.bind="data.deliveryDate"></input>
                <span class="help-block">${error.deliveryDate}</span>
            </div>
        </div>

        <div class="form-group ${error.PPn?'has-error':''}">
            <label for="PPn" class="col-sm-3 control-label">PPn %</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" name="PPn" value.bind="data.PPn"></input>
                <span class="help-block">${error.PPn}</span>
            </div>
        </div>

        <div class="form-group ${error.description?'has-error':''}">
            <label for="description" class="col-sm-3 control-label">Keterangan</label>
            <div class="col-sm-5">
                <textarea class="form-control" name="description" value.bind="data.description"></textarea>
                <span class="help-block">${error.description}</span>
            </div>
        </div>
        
        <div class="form-group ${error.items?'has-error':''}">
            <label for="description" class="col-sm-3 control-label">Barang</label>
            <div class="col-sm-5">
                <textarea class="form-control" name="description" value.bind="data.description"></textarea>
                <span class="help-block">${error.description}</span>
            </div>
        </div>
    </form>
</template>