<template >
    <tr>
        <td>
            <au-textbox 
                value.bind="data.productName" 
                placeholder="tambah nama barang"
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox> 
        </td>
        <td>
            <au-textbox 
                value.bind="getDesign"
                read-only="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.colorWay" 
                read-only="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.remark" 
                error.bind="error.remark"
                placeholder="tambah keterangan retur"
                read-only.bind="options.readOnly" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.returQuantity" 
                error.bind="error.returQuantity"
                read-only.bind="options.readOnly" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-textbox 
                value.bind="data.uom" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.length" 
                error.bind="error.length"
                read-only.bind="options.readOnly" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="getTotLength" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="data.weight" 
                error.bind="error.weight"
                read-only.bind="options.readOnly" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="getTotWeight" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
    </tr>
</template>