<template>
    <tr>
        <td class="col-sm-3">
            <au-textbox value.bind="data.product" read-only.bind="true" options.bind="controlOptions">
            </au-textbox>
        </td>
        <td class="col-sm-1">
            <au-numeric value.bind="data.quantity" error.bind="error.quantity" read-only.bind="options.readOnly" change.delegate="quantityChanged($event)">
            </au-numeric>
        </td>
        <td class="col-sm-1">
            <au-numeric value.bind="data.availableQuantity" error.bind="error.availableQuantity" read-only.bind="true">
            </au-numeric>
        </td>
        <td class="col-sm-1">
            <au-numeric value.bind="data.weight" error.bind="error.quantity" read-only.bind="true" change.delegate="quantityChanged($event)">
            </au-numeric>
        </td>
        <td class="col-sm-1">
            <au-numeric value.bind="weightTotal" error.bind="error.length" read-only.bind="true" change.delegate="quantityChanged($event)">
            </au-numeric>
        </td>
        <td class="col-sm-1">
            <au-numeric value.bind="data.length" error.bind="error.quantity" read-only.bind="true" change.delegate="quantityChanged($event)">
            </au-numeric>
        </td>
        <td class="col-sm-1">
            <au-numeric value.bind="lengthTotal" error.bind="error.length" read-only.bind="true" change.delegate="quantityChanged($event)">
            </au-numeric>
        </td>
        <td style="text-align:center;">
            <au-textbox value.bind="data.remark" read-only.bind="true">
            </au-textbox>
        </td>
        <td class="col-sm-3">
            <au-textbox value.bind="data.notes" read-only.bind="options.readOnly" options.bind="controlOptions" error.bind="error.notes"
                change.delegate="notesChanged($event)">
            </au-textbox>
        </td>
    </tr>
</template>