<template>
    <tr>
        <td>
            <au-textbox 
                value.bind="data.purchaseRequestNo" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.purchaseRequestRefNo" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-autocomplete 
                value.bind="data.product" 
                loader.bind="productLoader" 
                text.bind="productView"
                key="code" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
            <au-numeric 
                value.bind="data.purchaseOrderQuantity" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <div class= "form-group has-warning" if.bind="isWarning">
                <au-numeric 
                    value.bind="deliveredQuantity" 
                    error.bind="error.deliveredQuantity" 
                    read-only.bind="options.readOnly" 
                    options.bind="controlOptions">
                </au-numeric>
                <span class="help-block">Jumlah diterima lebih besar dari jumlah dipesan</span>
            </div> 
            <div  if.bind="!isWarning">
                <au-numeric 
                    value.bind="deliveredQuantity" 
                    error.bind="error.deliveredQuantity" 
                    read-only.bind="options.readOnly"
                    options.bind="controlOptions">
                </au-numeric>
            </div>
        </td>
        <td>
            <au-textbox 
                value.bind="data.purchaseOrderUom.unit" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.conversion"
                error.bind="error.conversion"
                read-only.bind="options.readOnly"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="quantityConversion"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-autocomplete 
                value.bind="data.uomConversion.unit" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-autocomplete>                   
        </td>
        <td>
            <au-numeric 
                value.bind="data.pricePerDealUnit" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="priceTotal" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-textbox 
                value.bind="data.currency.code" 
                read-only.bind="true" 
                error.bind="error.currency" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.remark" 
                error.bind="error.remark" 
                read-only.bind="options.readOnly" 
                placeholder="tambah catatan"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        
		<td if.bind="!readOnly">
			<button class="btn btn-danger pull-right" click.delegate="onremove(data)">-</button>
		</td>
    </tr>
</template>