<template>
    <tr>
        <td>
            <au-textbox value.bind="data.invoiceNo" read-only="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.buyerName" read-only="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="data.cbm" error.bind="error.quantity" read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.amount" error.bind="error.amount" read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.amount" error.bind="error.amount" read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.amount" error.bind="error.amount" read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.amount" error.bind="error.amount" read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.amount" error.bind="error.amount" read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.amount" error.bind="error.amount" read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.amount" error.bind="error.amount" read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.amount" error.bind="error.amount" read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.amount" error.bind="error.amount" read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.amount" error.bind="error.amount" read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.amount" error.bind="error.amount" read-only.bind="true">
            </au-numeric>
        </td>
    </tr>

</template>