<template>
    <div class="form-group ${error.UoM ? 'has-error':''}">
        <label for="UoM" class="col-sm-2 control-label">UoM</label>
        <div class="col-sm-10">
            <span if.bind="data.UoM">
                <div class="row">
                    <div class="col-sm-1">Category</div>
                    <div class="col-sm-5">
                        <label>${data.UoM.category}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">Default Unit</div>
                    <div class="col-sm-10">
                        <label>${data.UoM.default.mainValue + " " + data.UoM.default.mainUnit + " -- " + data.UoM.default.convertedValue + " " + data.UoM.default.convertedUnit}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Other units</div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Main Value</th>
                                    <th>Main Unit</th>
                                    <th>Converted Value</th>
                                    <th>Converted Unit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr repeat.for="unit of data.UoM.units">
                                    <td>${$index+1}</td>
                                    <td>
                                        <label>${unit.mainValue}</label>
                                    </td>
                                    <td>
                                        <label>${unit.mainUnit}</label>
                                    </td>
                                    <td>
                                        <label>${unit.convertedValue}</label>
                                    </td>
                                    <td>
                                        <label>${unit.convertedUnit}</label>
                                    </td>
                                </tr>
                            </tbody>
                         </table>
                    </div>
                </div>
            </span>
        </div>
    </div>

</template>

