<template>
<require from="customs/elements/horsey"></require>

    <div class="form-group ${error.UoM ? 'has-error':''}">
        <label for="UoM" class="col-sm-2 control-label">UOM</label>
        <div class="col-sm-10">
                <div class="row ${error.category?'has-error':''}">
                    <label class="col-sm-2 control-label" style="text-align:left">Category</label>
                    <div class="col-sm-4">
                        <horsey src.bind="uomApiUri" selection.bind="data.UoM" options.bind="{label:'category', value:'category'}"></horsey>
                        <!--<horsey src.bind="uomApiUri" selection.bind="data.UoM" value.bind = "data.UoM.category" options.bind="{label:'category', value:'_id'}"></horsey>-->
                        <span class="help-block">${error.category}</span>
                    </div>
                </div>
                </br>
                <div class="row ${error.default?'has-error':''}">
                    <label class="col-sm-2 control-label" style="text-align:left">Default Unit</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="number" class="form-control" name="default.mainValue" min="1" value.bind="data.UoM.default.mainValue" value ="0"/>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="default.mainUnit" value.bind="data.UoM.default.mainUnit" />
                            </div>    
                        </div> 
                        <span class="help-block">${error.default}</span>
                        </div>
                </div>
                <div class="row ${error.units?'has-error':''}">
                    <label class="col-sm-2 control-label" style="text-align:left" >Other Unit</label>
                    <span class="help-block">${error.units}</span>
                </div>
                <div class="row">
                    <div class="col-sm-10">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Main Value</th>
                                    <th>Main Unit</th>
                                    <th>Converted Value</th>
                                    <th>Converted Unit</th>
                                    <th><button click.delegate="addUnit(data.UoM.default)" class="btn btn-success btn-sm pull-right">Add Unit</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr repeat.for="unit of data.UoM.units">
                                    <td>${$index+1}</td>
                                    <td>
                                        <input class="form-control" type="number" name="mainValue" value.bind="unit.mainValue" readonly />
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" name="mainUnit" value.bind="unit.mainUnit" readonly />
                                    </td>
                                    <td>
                                        <div class="form-group ${error.UoM.units[$index].convertedValue?'has-error':''}">
                                            <input class="form-control" min="1" type="number" name="convertedValue" min="1" value.bind="unit.convertedValue" />
                                            <span class="help-block">${error.UoM.units[$index].convertedValue}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group ${error.UoM.units[$index].convertedUnit?'has-error':''}">
                                            <input class="form-control" type="text" name="convertedUnit" value.bind="unit.convertedUnit" />
                                            <span class="help-block">${error.UoM.units[$index].convertedUnit}</span>
                                        </div>
                                    </td>
                                    <td><button href="#" class="btn btn-danger btn-sm pull-right" click.delegate="removeUnit(unit)">Remove</button></td>
                                </tr>
                            </tbody>
                         </table>
                    </div>
                </div>
            <!--</span>-->
        </div>
    </div>

</template>