<template>
<tr>
  
  <td width="25%">
    <au-autocomplete 
    value.bind="data.unit" 
    error.bind="error.unit" 
    read-only.bind="options.readOnly" 
    key="_id" 
    text="name"
    loader.bind="loader" 
    options.bind="controlOption" >
    </au-autocomplete>
  </td>
  <td width="20%">
    <au-autocomplete 
    value.bind="data.weeklyPlan" 
    error.bind="error.weeklyPlan" 
    read-only.bind="options.readOnly" 
    text="year"
    loader.bind="weeklyloader" 
    options.bind="controlOption"
    query.bind="filterYear"
    show.bind="data.unit" >
    </au-autocomplete>
  </td>
  <td width="30%">
    <au-autocomplete 
    value.bind="data.week" 
    error.bind="error.week" 
    read-only.bind="options.readOnly"
    text.bind = "weekView"
    loader.bind="weekloader" 
    options.bind="controlOption"
    query.bind="filter" 
    show.bind="data.unit && data.weeklyPlan">
    </au-autocomplete>
  </td>
  <td width="15%">
    <numeric 
    value.bind="data.quantity" 
    error.bind="error.quantity" 
    read-only.bind="options.readOnly" 
    options.bind="controlOption">
    </numeric>
  </td>
  <td if.bind="!options.readOnly" ><button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button></td>
</tr>
</template>
