<template>
    <h3>Garment Sparepart</h3>
    <br>
    <div class="form-group">
        <table class="table table-striped table-hover">
            <tr>
                <th>Konveksi</th>
                <th>   
                    <select id="konveksi" value.bind="konveksi">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </th>
                <th>Bulan</th>
                <th> <select id="MONTH" value.bind="month">
                        <option value="1">Januari</option>
                        <option value="2">Februari</option>
                        <option value="3">Maret</option>
                        <option value="4">April</option>
                        <option value="5">Mei</option>
                        <option value="6">Juni</option>
                        <option value="7">Juli</option>
                        <option value="8">Agustus</option>
                        <option value="9">September</option>
                        <option value="10">Oktober</option>
                        <option value="11">November</option>
                        <option value="12">Desember</option>
                    </select>
                </th>
                <th>Tahun</th>
                <th><input type="year" class="form-control" /></th>
                <th>Supplier</th>
                <th><input type="supplierName" class="form-control" /></th>
                <th> <input type="text" class="form-control" name="keyword" value.bind="data.code" placeholder="PO, PR, RO" /></th>
                <th> <button class="btn btn-default" click.delegate="search()"> Cari </button></th>
            </tr>
        </table>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nomor PR</th>
                <th>Nomor PO</th>
                <th>Nama Buyer</th>
                <th>Nama Supplier</th>
                <th>Tanggal Kirim</th>
                <th>Term of Payment</th>
                <th>Status Post</th>
                <th>Nomor PO DL</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="item of data" click.delegate="view(item)">
                <td>${item.PRNo}</td>
                <td>${item.PONo}</td>
                <td>${item.buyer.name}</td>
                <td>${item.supplier.name}</td>
                <td>${item.deliveryDate}</td>
                <td>${item.termOfPayment}</td>
                <td if.bind="item.isPosted">
                    POSTED
                </td>
                <td if.bind="!item.isPosted">
                    DRAFT
                </td>
                <!--<% if(item.isPosted) { %>
                    POSTED
                    <%} else {%>
                       
                        <% } %>
                        </TD>-->
                <td>${item.PODLNo}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-info text-center" role="alert" if.bind="data.length == 0">
        There is no data found in the list.
    </div>
    <hr/>
    <div class="btn-group pull-right">
        <button class="btn btn-primary" click.delegate="create()">Create</button>
    </div>
</template>
